flows_casi-10.json
[{"id":"f77f7e66.f1ce","type":"tab","label":"***UPS Control***"},{"id":"7f400e03.20e7a","type":"tab","label":"***Buzzer Control***"},{"id":"fb6d2760.405c68","type":"tab","label":"***Auto Tune***"},{"id":"770e3f24.bddc8","type":"tab","label":"***UPS Status***"},{"id":"8ce0c8b.7eda638","type":"tab","label":"Auto Tune"},{"id":"3b41c620.6c4b9a","type":"tab","label":"Vis Inputs/Outputs"},{"id":"74d95c4a.3dbd54","type":"tab","label":"Setpoints"},{"id":"93aa7839.f801f8","type":"tab","label":"Control"},{"id":"c6ef104b.8308b","type":"tab","label":"Network"},{"id":"1c44d784.6e95d8","type":"tab","label":"Inputs / Outputs"},{"id":"f5140c51.becec","type":"tab","label":"Run Time and Counters"},{"id":"d9146691.14e838","type":"json-db-collection","z":"74d95c4a.3dbd54","name":"setSP0","collection":"setSP00","save":true},{"id":"e27f7126.e4186","type":"json-db-collection","z":"74d95c4a.3dbd54","name":"setPS1","collection":"setPS01","save":true},{"id":"e91cdfb6.24763","type":"json-db-collection","z":"74d95c4a.3dbd54","name":"setSP2","collection":"setSP002","save":true},{"id":"cc4ffb84.909ba8","type":"json-db-collection","z":"74d95c4a.3dbd54","name":"setSP3","collection":"setSP03","save":true},{"id":"cbf1ef6f.fe9b","type":"json-db-collection","z":"74d95c4a.3dbd54","name":"setSP4","collection":"setSP04","save":true},{"id":"a9e7a18e.6596b","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.10.100","tcpPort":"503","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"91d10f8d.602a4","type":"inject","z":"8ce0c8b.7eda638","name":"step 1 1","topic":"step1","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":131,"y":191.77375984191895,"wires":[["6e7b5012.20a7b"]]},{"id":"7ba1f9ca.4a23d8","type":"inject","z":"8ce0c8b.7eda638","name":"step 1 0","topic":"step1","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":134.53968048095703,"y":149.69439315795898,"wires":[["6e7b5012.20a7b"]]},{"id":"8e43c553.db1598","type":"inject","z":"8ce0c8b.7eda638","name":"step 2 0","topic":"step2","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":142.41665649414062,"y":394.9880714416504,"wires":[["305f5021.bcfe5"]]},{"id":"147983fe.f8ac4c","type":"inject","z":"8ce0c8b.7eda638","name":"step 2 1","topic":"step2","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":149.98807907104492,"y":434.84521198272705,"wires":[["305f5021.bcfe5"]]},{"id":"9b50f9f4.2461b8","type":"inject","z":"8ce0c8b.7eda638","name":"step 3 0","topic":"step3","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":138.48807525634766,"y":803.737943649292,"wires":[["6a9aac1a.744fd4"]]},{"id":"f165d8ad.ec5048","type":"inject","z":"8ce0c8b.7eda638","name":"step 3 1","topic":"step3","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":146.05949783325195,"y":843.5950841903687,"wires":[["6a9aac1a.744fd4"]]},{"id":"e4c15425.c3cb78","type":"inject","z":"8ce0c8b.7eda638","name":"step 4 0","topic":"step4","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":152.59521102905273,"y":950.523509979248,"wires":[["fae38055.fa2d9"]]},{"id":"3bc23395.18c0fc","type":"inject","z":"8ce0c8b.7eda638","name":"step 4 1","topic":"step4","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":160.16663360595703,"y":990.3806505203247,"wires":[["fae38055.fa2d9"]]},{"id":"27b95bbd.03e0a4","type":"inject","z":"8ce0c8b.7eda638","name":"step 5 0","topic":"step5","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":174.0237922668457,"y":1224.273473739624,"wires":[["475715f1.39aeac"]]},{"id":"d2c1c9d8.c42238","type":"inject","z":"8ce0c8b.7eda638","name":"step 5 1","topic":"step5","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":181.59521484375,"y":1264.1306142807007,"wires":[["475715f1.39aeac"]]},{"id":"e9385876.deae58","type":"inject","z":"8ce0c8b.7eda638","name":"step 6 0","topic":"step6","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":171.34521102905273,"y":1366.5950565338135,"wires":[["1bc31686.c74929"]]},{"id":"925f8aff.a82608","type":"inject","z":"8ce0c8b.7eda638","name":"step 6 1","topic":"step6","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":178.91663360595703,"y":1406.4521970748901,"wires":[["1bc31686.c74929"]]},{"id":"6e79ebe.0c69914","type":"switch","z":"8ce0c8b.7eda638","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"begin","vt":"str"}],"checkall":"true","outputs":1,"x":768.7778396606445,"y":129,"wires":[["10d34ab5.bd1635"]]},{"id":"4177af96.06c56","type":"function","z":"8ce0c8b.7eda638","name":"step 1","func":"if (global.get('phase')==1 && (global.get ('step1')==1)) {\nglobal.set ('step1',2);\nreturn msg;}\nelse return;","outputs":1,"noerr":0,"x":544.5397262573242,"y":232.20238494873047,"wires":[["5ce9cc15.c4adc4"]]},{"id":"a5345531.8ced58","type":"inject","z":"8ce0c8b.7eda638","name":"step 1 2","topic":"step1","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":128.8253936767578,"y":230.53571605682373,"wires":[["6e7b5012.20a7b"]]},{"id":"6d7ea572.f5670c","type":"inject","z":"8ce0c8b.7eda638","name":"step 2 2","topic":"step2","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":145.49206924438477,"y":464.8214635848999,"wires":[["305f5021.bcfe5"]]},{"id":"5a226127.ee883","type":"inject","z":"8ce0c8b.7eda638","name":"step 3 2","topic":"step3","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":138.34920120239258,"y":879.1070718765259,"wires":[["6a9aac1a.744fd4"]]},{"id":"f82a6c4f.a7e64","type":"inject","z":"8ce0c8b.7eda638","name":"step 4 2","topic":"step4","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":158.34918975830078,"y":1033.3926475048065,"wires":[["fae38055.fa2d9"]]},{"id":"30b068dc.1cf178","type":"inject","z":"8ce0c8b.7eda638","name":"step 5 2","topic":"step5","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":176.92062377929688,"y":1304.8211870193481,"wires":[["475715f1.39aeac"]]},{"id":"93c7af57.24dad","type":"inject","z":"8ce0c8b.7eda638","name":"step 6 2","topic":"step6","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":169.7777557373047,"y":1440.5356187820435,"wires":[["1bc31686.c74929"]]},{"id":"6d5bd4c.5614c2c","type":"inject","z":"8ce0c8b.7eda638","name":"Auto Tune PULSE","topic":"","payload":"ddd","payloadType":"str","repeat":"1","crontab":"","once":true,"x":142.00397491455078,"y":294.4881477355957,"wires":[["ccc20ec4.17e71","853e4cc2.7410f","2a4878e1.18a948","85c998d8.f32948","cd7c2dc2.7dfe3","7eedf5c1.aad63c","e86ecbc0.c4cfe8"]]},{"id":"6e7b5012.20a7b","type":"function","z":"8ce0c8b.7eda638","name":"global set step1","func":"global.set('step1',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":355.34920501708984,"y":155.82143211364746,"wires":[[]]},{"id":"ccc20ec4.17e71","type":"function","z":"8ce0c8b.7eda638","name":"global get step1","func":"msg.payload = global.get('step1');\nmsg.topic = 'step1';\nif(msg.payload===1){ var tune = global.set ('tune', 1);\n    global.set('gate',0);\n} else \nif(msg.payload===0){ var tune = global.set ('tune', 0);}\nreturn msg;","outputs":1,"noerr":0,"x":354.30162048339844,"y":241.72620296478271,"wires":[["4177af96.06c56","801a7a3c.f06af8"]]},{"id":"f4df32e9.df693","type":"function","z":"8ce0c8b.7eda638","name":"global set step1","func":"if (msg.payload ===0) {global.set('step1', 0 );\n    global.set('step2',0);\n    global.set('step3',0);\n    global.set('step4',0);\n    global.set('step5',0);\n    global.set('step6',0);\n    global.set('step7',0);\n    global.set('blwr', 0);\n    global.set('gate',0);\n}\nif (msg.payload ===1) {global.set('step1', 1);}\nreturn;","outputs":1,"noerr":0,"x":1139.7777786254883,"y":196.25000762939453,"wires":[[]]},{"id":"10d34ab5.bd1635","type":"change","z":"8ce0c8b.7eda638","name":"begin / cancel","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":886.9206695556641,"y":174.821439743042,"wires":[["f4df32e9.df693"]]},{"id":"305f5021.bcfe5","type":"function","z":"8ce0c8b.7eda638","name":"global set step2","func":"global.set('step2',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":374.06349182128906,"y":431.9643039703369,"wires":[[]]},{"id":"853e4cc2.7410f","type":"function","z":"8ce0c8b.7eda638","name":"global get step2","func":"if(global.get('step1')==2) {\nmsg.payload = global.get('step2');\nmsg.topic = 'step2';\nreturn msg;}\nelse {global.set ('step2', 0); msg.topic = 'step2';\n    msg.payload = global.get('step2');\n}\nreturn msg;","outputs":1,"noerr":0,"x":375.49203872680664,"y":373.3928732872009,"wires":[["d97ddaf5.af59a8","ad72fc00.c5a26","801a7a3c.f06af8"]]},{"id":"d97ddaf5.af59a8","type":"function","z":"8ce0c8b.7eda638","name":"step 2","func":"if (global.get('flt')===0 && global.get ('step2')===1 &&\n global.get('blwr')===0 ) {\nglobal.set ('ballvalve3',0);\nglobal.set ('step2',2);\nreturn msg;}\nelse\nif (global.get ('step2')===1 && global.get('test_mode')===1){\nglobal.set ('step2',2);\nreturn msg;}\nelse\nif (global.get ('step2')===1 && global.get('demo_mode')===1){\nglobal.set ('step2',2);\nreturn msg;}\nelse return;","outputs":1,"noerr":0,"x":542.634880065918,"y":343.39285373687744,"wires":[["8fb6b2fe.90ef6"]]},{"id":"b5332dc0.9b204","type":"inject","z":"8ce0c8b.7eda638","name":"BLOWER ON","topic":"blwr","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":151.20635986328125,"y":529.1071701049805,"wires":[["560d06eb.ce9d68"]]},{"id":"560d06eb.ce9d68","type":"function","z":"8ce0c8b.7eda638","name":"global set blwr","func":"global.set('blwr',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":483.9683074951172,"y":524.3095598220825,"wires":[[]]},{"id":"c50fbe46.f5cc8","type":"inject","z":"8ce0c8b.7eda638","name":"BLOWER OFF","topic":"blwr","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":157.03968811035156,"y":573.4404735565186,"wires":[["560d06eb.ce9d68"]]},{"id":"5ce9cc15.c4adc4","type":"delay","z":"8ce0c8b.7eda638","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":706.9206379481725,"y":223.39286286490324,"wires":[["f25abbd2.ac4708"]]},{"id":"f25abbd2.ac4708","type":"function","z":"8ce0c8b.7eda638","name":"global set step1","func":"global.set('step2', 1 );\nreturn;","outputs":1,"noerr":0,"x":901.2063522338867,"y":253.39285850524902,"wires":[[]]},{"id":"9d1cdbfd.6a2cb8","type":"inject","z":"8ce0c8b.7eda638","name":"FLOAT:Off 1","topic":"flt","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":162.63492584228516,"y":640.5357828140259,"wires":[["797c9ca3.90fb34"]]},{"id":"6f8dd592.1a176c","type":"inject","z":"8ce0c8b.7eda638","name":"FLOAT:On 0","topic":"flt","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":178.46824645996094,"y":712.0119438171387,"wires":[["797c9ca3.90fb34"]]},{"id":"797c9ca3.90fb34","type":"function","z":"8ce0c8b.7eda638","name":"global set flt","func":"global.set('flt',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":470.87310791015625,"y":595.5000190734863,"wires":[[]]},{"id":"8fb6b2fe.90ef6","type":"delay","z":"8ce0c8b.7eda638","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":764.6349029541016,"y":342.3928813934326,"wires":[["3fef5761.a8d278"]]},{"id":"3fef5761.a8d278","type":"function","z":"8ce0c8b.7eda638","name":"global set step3","func":"global.set('step3', 1 );\nreturn;","outputs":1,"noerr":0,"x":1002.6349105834961,"y":410.53573513031006,"wires":[[]]},{"id":"ad72fc00.c5a26","type":"function","z":"8ce0c8b.7eda638","name":"step 2","func":"if (global.get('step2')==1 && global.get ('flt')==1 ) {\nglobal.set ('ballvalve3',1);\n    return;\n}\nif (global.get('step2')==1 && global.get ('flt')===0 ) {\nglobal.set ('ballvalve3',0);\n    return;\n}\nmsg.payload=global.get('ballvalve3');\nreturn msg;","outputs":1,"noerr":0,"x":576.9206161499023,"y":450.05955696105957,"wires":[[]]},{"id":"6a9aac1a.744fd4","type":"function","z":"8ce0c8b.7eda638","name":"global set step 3","func":"global.set('step3',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":389.7777786254883,"y":854.821475982666,"wires":[[]]},{"id":"2a4878e1.18a948","type":"function","z":"8ce0c8b.7eda638","name":"global get step3","func":"if(global.get('step2')==2) {\nmsg.payload = global.get('step3');\nmsg.topic = 'step3';\nreturn msg;}\nelse {global.set ('step3', 0); msg.topic = 'step3';\n    msg.payload = global.get('step3');\n}\nreturn msg;","outputs":1,"noerr":0,"x":345.7301483154297,"y":294.10714960098267,"wires":[["9fb20a3b.30c508","8ef02948.4e0788","801a7a3c.f06af8"]]},{"id":"9fb20a3b.30c508","type":"function","z":"8ce0c8b.7eda638","name":"step 3","func":"if (global.get('blwr')===2 && global.get ('step3')===1 ) {\nglobal.set ('step3',2);\nreturn msg;\n}\nreturn ;","outputs":1,"noerr":0,"x":562.634880065918,"y":754.8214308023453,"wires":[["afa5468d.b1cf48"]]},{"id":"afa5468d.b1cf48","type":"delay","z":"8ce0c8b.7eda638","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":768.3491668701172,"y":744.8214522600174,"wires":[["9fcc871e.e730d8"]]},{"id":"9fcc871e.e730d8","type":"function","z":"8ce0c8b.7eda638","name":"global set step4","func":"if(global.get('step3')===2){\nglobal.set('step4', 1 );\nreturn;}","outputs":1,"noerr":0,"x":1021.3849945068359,"y":794.2857627868652,"wires":[["a4890cb.ed191f"]]},{"id":"8ef02948.4e0788","type":"function","z":"8ce0c8b.7eda638","name":"step 3","func":"if (global.get('step3')===1 ) {\nglobal.set ('blwr',1);\n//global.set ('start_stop', 1);\n}\nreturn;","outputs":1,"noerr":0,"x":600.730094909668,"y":848.3928480148315,"wires":[[]]},{"id":"cd7c2dc2.7dfe3","type":"function","z":"8ce0c8b.7eda638","name":"global get step4","func":"if(global.get('step3')==2) {\nmsg.payload = global.get('step4');\nmsg.topic = 'step4';\nreturn msg;}\nelse {global.set ('step4', 0); msg.topic = 'step4';\n    msg.payload = global.get('step4');\n}\nreturn msg;","outputs":1,"noerr":0,"x":364.3016548156738,"y":914.1071524620056,"wires":[["30c1e10f.ea8e5e","67a5f2ed.1f891c","801a7a3c.f06af8"]]},{"id":"b7909ec4.5083e","type":"delay","z":"8ce0c8b.7eda638","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":779.5396575927734,"y":940.5356979370117,"wires":[["ca2c3a3a.2a1248"]]},{"id":"ca2c3a3a.2a1248","type":"function","z":"8ce0c8b.7eda638","name":"global set step5","func":"global.set('step5', 1 );\nreturn;","outputs":1,"noerr":0,"x":1009.7778282165527,"y":976.2500342130661,"wires":[["a4890cb.ed191f"]]},{"id":"fae38055.fa2d9","type":"function","z":"8ce0c8b.7eda638","name":"global set step4","func":"global.set('step4',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":412.63491439819336,"y":999.5832853317261,"wires":[[]]},{"id":"83040ba.c6864f8","type":"inject","z":"8ce0c8b.7eda638","name":"setPres 2","topic":"setPres","payload":"2","payloadType":"num","repeat":"","crontab":"","once":true,"x":152.87302017211914,"y":1108.8690557479858,"wires":[["2a3da1f8.93ebbe"]]},{"id":"a39488f0.e8b478","type":"inject","z":"8ce0c8b.7eda638","name":"setPres 4","topic":"setPres","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"x":152.75395584106445,"y":1160.5833435058594,"wires":[["2a3da1f8.93ebbe"]]},{"id":"2a3da1f8.93ebbe","type":"function","z":"8ce0c8b.7eda638","name":"global set setPres","func":"global.set('setPres',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":409.2063331604004,"y":1094.3096084594727,"wires":[[]]},{"id":"475715f1.39aeac","type":"function","z":"8ce0c8b.7eda638","name":"global set step5","func":"global.set('step5',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":396.9206352233887,"y":1280.535629272461,"wires":[[]]},{"id":"85c998d8.f32948","type":"function","z":"8ce0c8b.7eda638","name":"global get step5","func":"if(global.get('step4')==2) {\nmsg.payload = global.get('step5');\nmsg.topic = 'step5';\nreturn msg;}\nelse {global.set ('step5', 0); msg.topic = 'step5';\n    msg.payload = global.get('step5');\n}\nreturn msg;","outputs":1,"noerr":0,"x":414.0635108947754,"y":1197.6787507534027,"wires":[["6f67fd69.cec144","740cec84.5f0c64","5683139d.9ee6ac","a4890cb.ed191f"]]},{"id":"6f67fd69.cec144","type":"function","z":"8ce0c8b.7eda638","name":"step 5","func":"if (global.get('step5')===1 ) {\n    var newval1 = global.get ('PS0') - (- global.get ('setPhi'));\n    var newval2 = global.get ('PS0') - global.get ('setPlo');\n    var newval3 = global.get ('setFilt') + global.get ('setDirt');\n    global.set ('oldPhi', newval1);\n    global.set ('oldPlo', newval2); \n    global.set ('oldFilt', newval3);\n}\nreturn msg;","outputs":1,"noerr":0,"x":618.3492088317871,"y":1276.4406089782715,"wires":[["50deeef2.98215","556f7e1e.4de36","5e4b80f1.3975d"]]},{"id":"bda8e62c.f3bcf8","type":"delay","z":"8ce0c8b.7eda638","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":772.0635032653809,"y":1195.1071128845215,"wires":[["eb2f8ebe.d6da2"]]},{"id":"eb2f8ebe.d6da2","type":"function","z":"8ce0c8b.7eda638","name":"global set step6","func":"global.set('step6', 1 );\nreturn;","outputs":1,"noerr":0,"x":1081.3493423461914,"y":1197.392894744873,"wires":[["a4890cb.ed191f"]]},{"id":"7a0a5c8c.93cb04","type":"inject","z":"8ce0c8b.7eda638","name":"setFilt 0.2","topic":"setFilt","payload":".2","payloadType":"num","repeat":"","crontab":"","once":true,"x":642.6349296569824,"y":1077.6785793304443,"wires":[["82f3b04d.81438"]]},{"id":"2645f122.75258e","type":"inject","z":"8ce0c8b.7eda638","name":"setFilt 0.75","topic":"setFilt","payload":".75","payloadType":"num","repeat":"","crontab":"","once":false,"x":651.3253746032715,"y":1124.8690061569214,"wires":[["82f3b04d.81438"]]},{"id":"82f3b04d.81438","type":"function","z":"8ce0c8b.7eda638","name":"global set setFilt","func":"global.set('setFilt',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":913.9682426452637,"y":1111.4524154663086,"wires":[["a4890cb.ed191f"]]},{"id":"1bc31686.c74929","type":"function","z":"8ce0c8b.7eda638","name":"global set step6","func":"global.set('step6',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":358.3492240905762,"y":1421.9642238616943,"wires":[[]]},{"id":"7eedf5c1.aad63c","type":"function","z":"8ce0c8b.7eda638","name":"global get step6","func":"if(global.get('step5')==2) {\nmsg.payload = global.get('step6');\nmsg.topic = 'step6';\nreturn msg;}\nelse {global.set ('step6', 0); msg.topic = 'step6';\n    msg.payload = global.get('step6');\n}\nreturn msg;","outputs":1,"noerr":0,"x":404.0634880065918,"y":1361.9642238616943,"wires":[["32ffcc5e.c1a8d4","9be71bee.9b9258","a4890cb.ed191f"]]},{"id":"32ffcc5e.c1a8d4","type":"function","z":"8ce0c8b.7eda638","name":"step 6","func":"if (global.get('blwr') === 0 && global.get('step6')=== 1) {\nglobal.set ('step6',2);\nglobal.set ('begin',0);\nreturn;\n} else if(global.get('step6')==2){\n    global.set('step1', 0);\n    global.set('step7', 2);\nreturn msg;}\n","outputs":1,"noerr":0,"x":644.063362121582,"y":1376.2499237060547,"wires":[["1216febd.4fa8e1"]]},{"id":"9be71bee.9b9258","type":"function","z":"8ce0c8b.7eda638","name":"step 6","func":"if (global.get('step6')===1 ) {\n    global.set ('alarm', 0);\n    global.set ('blwr', 3);\n    //global.set ('start_stop', 0);\n}\nreturn;","outputs":1,"noerr":0,"x":649.7777328491211,"y":1457.678518295288,"wires":[[]]},{"id":"47811ebd.aa565","type":"delay","z":"8ce0c8b.7eda638","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":964.0635032653809,"y":1436.2497901916504,"wires":[["a4890cb.ed191f"]]},{"id":"30c1e10f.ea8e5e","type":"function","z":"8ce0c8b.7eda638","name":"step 4","func":"if (global.get('step4')==1 ) {\nglobal.set ('setPres', global.get ('PS0'));\nglobal.set ('filtPres', (global.get('PS1')));msg.payload = global.get ('setPres');\nreturn msg; }\nelse msg.payload = global.get ('setPres');\nreturn msg;","outputs":1,"noerr":0,"x":617.3968849182129,"y":981.2500438690186,"wires":[[]]},{"id":"67a5f2ed.1f891c","type":"function","z":"8ce0c8b.7eda638","name":"step 4","func":"if (global.get('setPres') > 3 && global.get ('step4')==1 ) {\nglobal.set ('step4', 2 );\nreturn msg;\n} else ;\nreturn;","outputs":1,"noerr":0,"x":610.0159034729004,"y":897.9165954589844,"wires":[["b7909ec4.5083e"]]},{"id":"1216febd.4fa8e1","type":"rbe","z":"8ce0c8b.7eda638","name":"","func":"rbe","gap":"","start":"","inout":"out","x":798.3491668701172,"y":1409.1071779727936,"wires":[["47811ebd.aa565"]]},{"id":"681c9081.ff1cc","type":"inject","z":"8ce0c8b.7eda638","name":"blwr 0","topic":"blwr","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":938.3492126464844,"y":549.6785507202148,"wires":[["6d43bf64.c08ac"]]},{"id":"88b89a22.97b168","type":"inject","z":"8ce0c8b.7eda638","name":"blwr 1","topic":"blwr","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":941.6825561523438,"y":593.0119247436523,"wires":[["6d43bf64.c08ac"]]},{"id":"6d43bf64.c08ac","type":"function","z":"8ce0c8b.7eda638","name":"global set blwr","func":"global.set('blwr',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1166.3492584228516,"y":620.3452739715576,"wires":[["a4890cb.ed191f"]]},{"id":"2a754974.5693f6","type":"inject","z":"8ce0c8b.7eda638","name":"blwr 2","topic":"blwr","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":945.0158843994141,"y":651.3452987670898,"wires":[["6d43bf64.c08ac"]]},{"id":"7fcd86e.1b9df78","type":"inject","z":"8ce0c8b.7eda638","name":"blwr 3","topic":"blwr","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":941.6824645996094,"y":703.0118942260742,"wires":[["6d43bf64.c08ac"]]},{"id":"50deeef2.98215","type":"function","z":"8ce0c8b.7eda638","name":"oldPhi","func":"msg.payload = global.get('oldPhi');\nmsg.topic = 'oldPhi';\nreturn msg;","outputs":1,"noerr":0,"x":774.8968162536621,"y":1276.837215423584,"wires":[["a4890cb.ed191f"]]},{"id":"556f7e1e.4de36","type":"function","z":"8ce0c8b.7eda638","name":"oldPlo","func":"msg.payload = global.get('oldPlo');\nmsg.topic = 'oldPlo';\nreturn msg;","outputs":1,"noerr":0,"x":779.1825218200684,"y":1323.980037689209,"wires":[["a4890cb.ed191f"]]},{"id":"5e4b80f1.3975d","type":"function","z":"8ce0c8b.7eda638","name":"oldFilt","func":"msg.payload = global.get('oldFilt');\nmsg.topic = 'oldFilt';\nreturn msg;","outputs":1,"noerr":0,"x":780.6111106872559,"y":1359.694393157959,"wires":[["a4890cb.ed191f"]]},{"id":"e86ecbc0.c4cfe8","type":"function","z":"8ce0c8b.7eda638","name":"global set setFilt","func":"msg.payload = Math.abs(global.get('PS1') - global.get ('PS0'));\nglobal.set('setFilt',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":775.7539405822754,"y":1036.6943912506104,"wires":[[]]},{"id":"e881e4c1.26ce68","type":"comment","z":"8ce0c8b.7eda638","name":"step 2 test mode modification","info":"We will ignore float input and move to next step","x":647.7896881103516,"y":295.1943950653076,"wires":[]},{"id":"6a4632cf.b6dbac","type":"function","z":"8ce0c8b.7eda638","name":"step 3","func":"if (global.get('step3')===1 )\nreturn msg;","outputs":1,"noerr":0,"x":541.4682388305664,"y":1688.980052947998,"wires":[["bd1eba7.0bc9b48","c2109831.a70b18"]]},{"id":"519b6354.26f41c","type":"inject","z":"8ce0c8b.7eda638","name":"1 Sec PULSE","topic":"","payload":"ddd","payloadType":"str","repeat":"1","crontab":"","once":true,"x":179.46825408935547,"y":1608.9799976348877,"wires":[["c0737455.148288"]]},{"id":"9be84d4f.1b54b","type":"function","z":"8ce0c8b.7eda638","name":"step 2","func":"if (global.get('step2')===1 )\nreturn msg;","outputs":1,"noerr":0,"x":546.4682388305664,"y":1601.980052947998,"wires":[["a953d9e5.320518","bf41bab5.b73588"]]},{"id":"e935c0d4.6753d","type":"function","z":"8ce0c8b.7eda638","name":"step 1","func":"if (global.get('step1')===1 )\nreturn msg;","outputs":1,"noerr":0,"x":541.7539749145508,"y":1526.2657432556152,"wires":[["a4f8dae1.92d9a8"]]},{"id":"b0f88e91.c86a2","type":"function","z":"8ce0c8b.7eda638","name":"step 4","func":"if (global.get('step4')===1 )\nreturn msg;","outputs":1,"noerr":0,"x":541.4682388305664,"y":1757.980052947998,"wires":[["7bc4df69.77aa1","df4002f.437b8"]]},{"id":"e496c64a.14b7e8","type":"function","z":"8ce0c8b.7eda638","name":"step 5","func":"if (global.get('step5')===1 )\nreturn msg;","outputs":1,"noerr":0,"x":550.4682388305664,"y":1831.980052947998,"wires":[["8da39ea4.788fc","1f3af61.9b37b0a"]]},{"id":"c269c719.504a58","type":"function","z":"8ce0c8b.7eda638","name":"set step 5 timed out alarm ","func":"if (global.get('step5')===1 ) {\n    global.set ('timedout', 1);\n    global.set ('blwr', 0);\n    global.set ('start_stop', 0);\n}\nreturn;","outputs":1,"noerr":0,"x":1021.4682388305664,"y":1817.980052947998,"wires":[[]]},{"id":"22ca0a6b.442d16","type":"function","z":"8ce0c8b.7eda638","name":"set step 4 timed out alarm ","func":"if (global.get('step4')===1 ) {\n    global.set ('timedout', 1);\n    global.set ('blwr', 0);\n    global.set ('start_stop', 0);\n}\nreturn;","outputs":1,"noerr":0,"x":1017.4682388305664,"y":1741.980052947998,"wires":[[]]},{"id":"fd0fdc33.9d2a5","type":"function","z":"8ce0c8b.7eda638","name":"set step 3 timed out alarm ","func":"if (global.get('step3')===1 ) {\n    global.set ('timedout', 1);\n    global.set ('blwr', 0);\n    global.set ('start_stop', 0);\n}\nreturn;","outputs":1,"noerr":0,"x":1024.4682388305664,"y":1670.980052947998,"wires":[[]]},{"id":"f1b22bdb.f36c58","type":"function","z":"8ce0c8b.7eda638","name":"set step 2 timed out alarm ","func":"if (global.get('step2')===1 ) {\n    global.set ('timedout', 1);\n    global.set ('blwr', 0);\n    global.set ('start_stop', 0);\n}\nreturn;","outputs":1,"noerr":0,"x":1029.4682388305664,"y":1598.980052947998,"wires":[[]]},{"id":"a848968a.413208","type":"function","z":"8ce0c8b.7eda638","name":"set step 1 timed out alarm ","func":"if (global.get('step1')===1 ) {\n    global.set ('timedout', 1);\n    global.set ('blwr', 0);\n    global.set ('start_stop', 0);\n}\nreturn;","outputs":1,"noerr":0,"x":1030.4682388305664,"y":1528.980052947998,"wires":[[]]},{"id":"a953d9e5.320518","type":"trigger","z":"8ce0c8b.7eda638","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"30","extend":false,"units":"min","reset":"99","name":"","x":806.9682388305664,"y":1601.980052947998,"wires":[["f1b22bdb.f36c58"]]},{"id":"bd1eba7.0bc9b48","type":"change","z":"8ce0c8b.7eda638","name":"reset 99","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":656.4682388305664,"y":1640.980052947998,"wires":[["a953d9e5.320518"]]},{"id":"bf41bab5.b73588","type":"change","z":"8ce0c8b.7eda638","name":"reset 99","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":668.4682388305664,"y":1561.980052947998,"wires":[["a4f8dae1.92d9a8"]]},{"id":"7bc4df69.77aa1","type":"change","z":"8ce0c8b.7eda638","name":"reset 99","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":658.4682388305664,"y":1717.980052947998,"wires":[["c2109831.a70b18"]]},{"id":"8da39ea4.788fc","type":"change","z":"8ce0c8b.7eda638","name":"reset 99","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":669.4682388305664,"y":1788.980052947998,"wires":[["df4002f.437b8"]]},{"id":"a4f8dae1.92d9a8","type":"trigger","z":"8ce0c8b.7eda638","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"20","extend":false,"units":"s","reset":"99","name":"","x":810.9682388305664,"y":1529.980052947998,"wires":[["a848968a.413208"]]},{"id":"c2109831.a70b18","type":"trigger","z":"8ce0c8b.7eda638","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"20","extend":false,"units":"s","reset":"99","name":"","x":803.4682388305664,"y":1674.980052947998,"wires":[["fd0fdc33.9d2a5"]]},{"id":"df4002f.437b8","type":"trigger","z":"8ce0c8b.7eda638","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"20","extend":false,"units":"s","reset":"99","name":"","x":803.4682388305664,"y":1743.980052947998,"wires":[["22ca0a6b.442d16"]]},{"id":"1f3af61.9b37b0a","type":"trigger","z":"8ce0c8b.7eda638","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"20","extend":false,"units":"s","reset":"99","name":"","x":801.4682388305664,"y":1814.980052947998,"wires":[["c269c719.504a58"]]},{"id":"c0737455.148288","type":"function","z":"8ce0c8b.7eda638","name":"global get test or  demo mode","func":"if (global.get ('test_mode') ===1 || \nglobal.get ('demo_mode')===1) {\nmsg.payload = 1;\nreturn msg;\n} else\nmsg.payload = 0;\nreturn msg;\n","outputs":1,"noerr":0,"x":267.8968276977539,"y":1693.2658195495605,"wires":[["1fcffd34.e0eab3"]]},{"id":"1fcffd34.e0eab3","type":"switch","z":"8ce0c8b.7eda638","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":388.99210357666016,"y":1619.811351776123,"wires":[[],["e496c64a.14b7e8","b0f88e91.c86a2","6a4632cf.b6dbac","9be84d4f.1b54b","e935c0d4.6753d"]]},{"id":"5683139d.9ee6ac","type":"function","z":"8ce0c8b.7eda638","name":"if test or  demo mode","func":"if (global.get('step5')===1 && (global.get ('test_mode') ===1 || \nglobal.get ('demo_mode')===1)) {\nreturn msg;} \n\n","outputs":1,"noerr":0,"x":662.8968276977539,"y":1238.2658195495605,"wires":[["11e65de0.26f2d2"]]},{"id":"740cec84.5f0c64","type":"function","z":"8ce0c8b.7eda638","name":"step 5","func":"if (2.0< global.get('oldPlo') < global.get ('actPres') && \nglobal.get('step5')===1 && global.get ('actPres') <global.get('oldPhi') < 9.0)  {\nglobal.set ('step5',2);\nreturn msg;\n}\nreturn ;","outputs":1,"noerr":0,"x":620.0634422302246,"y":1196.6786460876465,"wires":[["bda8e62c.f3bcf8"]]},{"id":"11e65de0.26f2d2","type":"delay","z":"8ce0c8b.7eda638","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860.3968276977539,"y":1238.2658195495605,"wires":[["eb2f8ebe.d6da2"]]},{"id":"801a7a3c.f06af8","type":"vis in","z":"8ce0c8b.7eda638","language":"en","x":565,"y":105,"wires":[["6e79ebe.0c69914"]]},{"id":"a4890cb.ed191f","type":"vis in","z":"8ce0c8b.7eda638","language":"en","x":1668.6666259765625,"y":1179.6666870117188,"wires":[[]]},{"id":"60256696.8ec268","type":"comment","z":"3b41c620.6c4b9a","name":"Reset button ","info":"","x":333.25,"y":79,"wires":[]},{"id":"3c1b013.7c06afe","type":"inject","z":"3b41c620.6c4b9a","name":"","topic":"reset","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":99.0714340209961,"y":296.10713958740234,"wires":[["d47d68a9.74b798"]]},{"id":"31dfe8e0.768f58","type":"inject","z":"3b41c620.6c4b9a","name":"","topic":"reset","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":93.92858123779297,"y":258.42858123779297,"wires":[["66ff111e.6a825"]]},{"id":"c8a253d.98121b","type":"trigger","z":"3b41c620.6c4b9a","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"3","extend":false,"units":"s","reset":"","name":"delay reset","x":388.0357360839844,"y":279.53572845458984,"wires":[["a0f6ab47.52e118"]]},{"id":"d47d68a9.74b798","type":"switch","z":"3b41c620.6c4b9a","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"reset","vt":"str"}],"checkall":"true","outputs":1,"x":364.3214111328125,"y":208.33333587646484,"wires":[["c8a253d.98121b","66ff111e.6a825"]]},{"id":"a0f6ab47.52e118","type":"change","z":"3b41c620.6c4b9a","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"99","fromt":"num","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":122.7142333984375,"y":196.04764556884766,"wires":[["e06eba51.4f20c8"]]},{"id":"e06eba51.4f20c8","type":"function","z":"3b41c620.6c4b9a","name":"flip flop","func":"var newmsg = msg.payload;\nif (newmsg === 0 ) {\n   msg.payload = 1 ;\n}   \nif (newmsg== 1 ) {\n    msg.payload = 0 ;\n}\nreturn msg;","outputs":1,"noerr":0,"x":130.21434020996094,"y":151.3333511352539,"wires":[["66ff111e.6a825"]]},{"id":"ac030aa5.cdc188","type":"inject","z":"3b41c620.6c4b9a","name":"","topic":"factreset","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":90.41665649414062,"y":554.0000286102295,"wires":[["337e6c4c.c88504"]]},{"id":"2f7e31c6.2b4dbe","type":"inject","z":"3b41c620.6c4b9a","name":"","topic":"factreset","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":96.75006103515625,"y":509.4643783569336,"wires":[["181b76b0.92df09"]]},{"id":"7a21060e.603328","type":"trigger","z":"3b41c620.6c4b9a","op1":"1","op2":"0","op1type":"nul","op2type":"pay","duration":"3","extend":false,"units":"s","reset":"","name":"delay reset","x":443.047607421875,"y":532.7619247436523,"wires":[["f87dce80.e6727"]]},{"id":"337e6c4c.c88504","type":"switch","z":"3b41c620.6c4b9a","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"factreset","vt":"str"}],"checkall":"true","outputs":1,"x":459.61907958984375,"y":460.65474700927734,"wires":[["7a21060e.603328","181b76b0.92df09"]]},{"id":"f87dce80.e6727","type":"change","z":"3b41c620.6c4b9a","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":239.72613525390625,"y":466.273832321167,"wires":[["e6f373c7.aff69"]]},{"id":"e6f373c7.aff69","type":"function","z":"3b41c620.6c4b9a","name":"flip flop","func":"var newmsg = msg.payload;\nif (newmsg === 0 ) {\n   msg.payload = 1 ;\n}   \nif (newmsg== 1 ) {\n    msg.payload = 0 ;\n}\nreturn msg;","outputs":1,"noerr":0,"x":232.36904907226562,"y":407.98812103271484,"wires":[["181b76b0.92df09"]]},{"id":"6a8b033a.b5015c","type":"comment","z":"3b41c620.6c4b9a","name":"Gauge Display","info":"","x":132.5,"y":602.9285869598389,"wires":[]},{"id":"c5e26796.07bb68","type":"comment","z":"3b41c620.6c4b9a","name":"Factory Reset Button Reset","info":"","x":369.5,"y":348.42858695983887,"wires":[]},{"id":"90dde0a7.8af48","type":"inject","z":"3b41c620.6c4b9a","name":"gauge inject","topic":"gauge","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":true,"x":85,"y":654.9285869598389,"wires":[["9514e67a.bdc538","b46dc8e7.eaaf48","1e93360b.12e3aa"]]},{"id":"9514e67a.bdc538","type":"function","z":"3b41c620.6c4b9a","name":"Gauge","func":"msg.topic = 'gauge';\nreturn msg;","outputs":1,"noerr":0,"x":285.25000381469727,"y":655.9286069869995,"wires":[["d806d64a.19bfb8"]]},{"id":"b46dc8e7.eaaf48","type":"function","z":"3b41c620.6c4b9a","name":"Scrub Press","func":"msg.topic = 'scrub_pressure';\nmsg.payload = global.get('actPres')-(-0.01);\nreturn msg;","outputs":1,"noerr":0,"x":306.5,"y":698.4285869598389,"wires":[["d806d64a.19bfb8"]]},{"id":"1e93360b.12e3aa","type":"function","z":"3b41c620.6c4b9a","name":"Filter Press","func":"msg.topic = 'filter_pressure';\nmsg.payload = global.get('filter_pressure')-(-0.001);\nreturn msg;","outputs":1,"noerr":0,"x":312.75,"y":752.1785869598389,"wires":[["d806d64a.19bfb8"]]},{"id":"5e1964a2.cb1d7c","type":"inject","z":"3b41c620.6c4b9a","name":"RESET RESET RESET","topic":"reset","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":809.8928680419922,"y":83.03572845458984,"wires":[["e889452d.35aad8"]]},{"id":"e889452d.35aad8","type":"trigger","z":"3b41c620.6c4b9a","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"10","extend":false,"units":"s","reset":"","name":"initialization","x":930.9761962890625,"y":163.08337211608887,"wires":[["b7bcaebc.0c51b"]]},{"id":"a2134a30.60f8f8","type":"change","z":"3b41c620.6c4b9a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":722.1666259765625,"y":164.51189994812012,"wires":[["e889452d.35aad8"]]},{"id":"bd1559ff.a02928","type":"switch","z":"3b41c620.6c4b9a","name":"reset","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"reset","vt":"str"}],"checkall":"true","outputs":1,"x":563.78564453125,"y":163.55953788757324,"wires":[["a2134a30.60f8f8"]]},{"id":"b7bcaebc.0c51b","type":"function","z":"3b41c620.6c4b9a","name":"SET CALL VARIABLES","func":"var test = global.set ('test', 1);\nvar alarm = global.set ('alarm', 0);\nvar sys = global.set ('sys', 0);\nvar flt = global.set ('flt', 0);\nvar wtr = global.set ('wtr',  0);\nvar blwr = global.set ('blwr', 0);\nvar count = global.set ('count', 0);\n//var permPres = global.set ('permPres', 5.5);\n//var setPres = global.set ('setPres', 5.5);\nvar actPres = global.set ('actPres', 0);\nvar permPlo = global.set ('permPlo', 0);\nvar permPhi = global.set ('permPhi', 0);\n//var permFilt = global.set ('permFilt', 0.2);\n//var oldPlo = global.set ('oldPlo', 3.5);\n//var oldPhi = global.set ('oldPhi', 7.5);\n//var oldFilt = global.set ('oldFilt', 2.5);\n//var setFilt = global.set ('setFilt', 0.25);\nvar actFilt = global.set ('actFilt', 0);\nvar permDirt = global.set ('permDirt', 0);\nvar begin = global.set ('begin', 0);\nvar begin = global.set ('begin2', 0);\nvar step1 = global.set ('step1', 0);\nvar step2 = global.set ('step2', 0);\nvar step3 = global.set ('step3', 0);\nvar step4 = global.set ('step4', 0);\nvar step5 = global.set ('step5', 0);\nvar step6 = global.set ('step6', 0);\nvar step7 = global.set ('step7', 0);\nvar timedout = global.set ('timedout', 0);\nvar timedout_alarm = global.set ('timedout_alarm', 0);\nvar gate = global.set ('gate', 0);\nvar table = global.set ('table', 0);\nvar filterlife = global.set ('filterlife', 0);\nvar ballvalve = global.set ('ballvalve', 0);\nvar gate = global.set ('gate2', 0);\nvar table = global.set ('table2', 0);\nvar filterlife2 = global.set ('filterlife2', 0);\nvar ballvalve2 = global.set ('ballvalve2', 0);\nvar reset = global.set ('reset', 0);\nvar test_mode = global.set ('test_mode', 0);\nvar phase = global.set ('phase', 1);\nvar dynFill = global.set ('dynFill', 0);\nvar scott = global.set ('scott', 3);\nvar tune = global.set ('tune', 0);\nvar newval1 = global.set ('newval1', 0);\nvar newval2 = global.set ('newval2', 0);\nvar newval3 = global.set ('newval3', 0);\nvar setPhi = global.set ('setPhi', 1.5);\nvar setPlo = global.set ('setPlo', 1.5);\nvar setDirt = global.set ('setDirt', 0.75);\nvar demo_mode = global.set ('demo_mode', 0);\nreturn msg;\n","outputs":"1","noerr":0,"x":883.7857666015625,"y":233.6069622039795,"wires":[[]]},{"id":"ac9fb9e.8c2e448","type":"switch","z":"3b41c620.6c4b9a","name":"reset","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"reset","vt":"str"}],"checkall":"true","outputs":1,"x":580.2618408203125,"y":215.60699272155762,"wires":[["b7bcaebc.0c51b"]]},{"id":"a4535c9c.8c98f","type":"inject","z":"3b41c620.6c4b9a","name":"RESET RESET RESET","topic":"reset","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":735.75,"y":328.17858695983887,"wires":[["1a52e45.643971c"]]},{"id":"1a52e45.643971c","type":"trigger","z":"3b41c620.6c4b9a","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"5","extend":false,"units":"s","reset":"","name":"initialization","x":983.9761962890625,"y":381.08337211608887,"wires":[["a6247240.de5f1"]]},{"id":"ef9ed0c5.5fe2e","type":"change","z":"3b41c620.6c4b9a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":775.1666259765625,"y":382.5118999481201,"wires":[["1a52e45.643971c"]]},{"id":"33e1f6a6.4f25aa","type":"switch","z":"3b41c620.6c4b9a","name":"factreset","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"factreset","vt":"str"}],"checkall":"true","outputs":1,"x":593.78564453125,"y":379.55953788757324,"wires":[["ef9ed0c5.5fe2e"]]},{"id":"a6247240.de5f1","type":"function","z":"3b41c620.6c4b9a","name":"SET CALL VARIABLES","func":"var test = global.set ('test', 1);\nvar alarm = global.set ('alarm', 0);\nvar sys = global.set ('sys', 0);\nvar flt = global.set ('flt', 0);\nvar wtr = global.set ('wtr',  0);\nvar blwr = global.set ('blwr', 0);\nvar count = global.set ('count', 0);\n//var permPres = global.set ('permPres', 5.5);\n//var setPres = global.set ('setPres', 5.5);\nvar actPres = global.set ('actPres', 0);\nvar permPlo = global.set ('permPlo', 0);\nvar permPhi = global.set ('permPhi', 0);\n//var permFilt = global.set ('permFilt', 0.2);\n//var oldPlo = global.set ('oldPlo', 3.5);\n//var oldPhi = global.set ('oldPhi', 7.5);\n//var oldFilt = global.set ('oldFilt', 2.5);\n//var setFilt = global.set ('setFilt', 0.25);\nvar actFilt = global.set ('actFilt', 0);\nvar permDirt = global.set ('permDirt', 0);\nvar begin = global.set ('begin', 0);\nvar begin = global.set ('begin2', 0);\nvar step1 = global.set ('step1', 0);\nvar step2 = global.set ('step2', 0);\nvar step3 = global.set ('step3', 0);\nvar step4 = global.set ('step4', 0);\nvar step5 = global.set ('step5', 0);\nvar step6 = global.set ('step6', 0);\nvar step7 = global.set ('step7', 0);\nvar timedout = global.set ('timedout', 0);\nvar timedout_alarm = global.set ('timedout_alarm', 0);\nvar gate = global.set ('gate', 0);\nvar table = global.set ('table', 0);\nvar filterlife = global.set ('filterlife', 0);\nvar ballvalve = global.set ('ballvalve', 0);\nvar gate = global.set ('gate2', 0);\nvar table = global.set ('table2', 0);\nvar filterlife2 = global.set ('filterlife2', 0);\nvar ballvalve2 = global.set ('ballvalve2', 0);\nvar reset = global.set ('reset', 0);\nvar test_mode = global.set ('test_mode', 0);\nvar phase = global.set ('phase', 1);\nvar dynFill = global.set ('dynFill', 0);\nvar scott = global.set ('scott', 3);\nvar tune = global.set ('tune', 0);\nvar newval1 = global.set ('newval1', 0);\nvar newval2 = global.set ('newval2', 0);\nvar newval3 = global.set ('newval3', 0);\nvar setPhi = global.set ('setPhi', 1.5);\nvar setPlo = global.set ('setPlo', 1.5);\nvar setDirt = global.set ('setDirt', 0.75);\nvar demo_mode = global.set ('demo_mode', 0);\nvar Phicount = global.set ('Phicount', 0);\nvar Plocount = global.set ('Plocount', 0);\nvar Dirtcount = global.set ('Dirtcount', 0);\nvar Timedoutcount = global.set ('Timedoutcount', 0);\n\nreturn msg;\n","outputs":"1","noerr":0,"x":936.7857666015625,"y":451.6069622039795,"wires":[[]]},{"id":"5965b955.c4fea8","type":"switch","z":"3b41c620.6c4b9a","name":"factreset","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"factreset","vt":"str"}],"checkall":"true","outputs":1,"x":643.2618408203125,"y":433.6069927215576,"wires":[["a6247240.de5f1"]]},{"id":"b7107648.a82e08","type":"debug","z":"3b41c620.6c4b9a","name":"","active":true,"console":"false","complete":"payload","x":1359.5598347981772,"y":904.5118316014605,"wires":[]},{"id":"9c65c07c.3dce8","type":"debug","z":"3b41c620.6c4b9a","name":"","active":true,"console":"false","complete":"topic","x":1320.940862019857,"y":987.1783698399859,"wires":[]},{"id":"61523714.4776d8","type":"comment","z":"3b41c620.6c4b9a","name":"question qualifier unit set up","info":"","x":660.5119018554688,"y":800.7500705718994,"wires":[]},{"id":"3d45d70e.bcab08","type":"function","z":"3b41c620.6c4b9a","name":"GET CALL VARIABLES","func":"var start_stop = global.get ('start_stop')||0;\nvar man_control = global.get ('man_control')||0;\nvar test_mode = global.get ('test_mode')||0;\nvar demo_mode = global.get ('demo_mode')||0;\nvar alarm = global.get ('alarm') || 0;\nvar blwr = global.get ('blwr') || 0;\nvar speed = global.get ('speed')|| 0;\nvar flt = global.get ('flt') || 0;\nvar count = global.get ('count') || 0;\n//var permPres = global.get ('permPres') || 2.5;\n//var actPres = global.get ('actPres') || 0;\n//var setPres = global.get ('setPres') || 5.5;\n//var permPlo = global.get ('permPlo') || 0;\n//var permPhi = global.get ('permPhi') || 0;\n//var permDirt = global.get ('permDirt') || 0;\n//var oldPlo = global.get ('oldPlo') || 3.5;\n//var oldPhi = global.get ('oldPhi') || 7.5;\n//var oldFilt = global.get ('oldFilt') || 2.5;\n//var setFilt = global.get ('setFilt') || 1.25;\n//var actFilt = global.get ('actFilt') || 0;\n//var permFilt = global.get ('permFilt') || 0.2;\nvar begin = global.get ('begin') || 0;\nvar step1 = global.get ('step1' ) || 0;\nvar step2 = global.get ('step2' ) || 0;\nvar step3 = global.get ('step3' ) || 0;\nvar step4 = global.get ('step4' ) || 0;\nvar step5 = global.get ('step5' ) || 0;\nvar step6 = global.get ('step6' ) || 0;\nvar step7 = global.get ('step7' ) || 0;\nvar gate = global.get ('gate' ) || 0;\nvar table = global.get ('table' ) || 0;\nvar filterlife = global.get ('filterlife' ) || 0;\nvar ballvalve = global.get ('ballvalve' ) || 0;\nvar gate2 = global.get ('gate2' ) || 0;\nvar table2 = global.get ('table2' ) || 0;\nvar filterlife2 = global.get ('filterlife2' ) || 0;\nvar ballvalve = global.get ('ballchk' ) || 0;\nvar reset = global.get ('reset' ) || 0;\nvar phase = global.get ('phase' ) || 1;\nvar dynFill = global.get ('dynFill' ) || 0;\nvar scott = global.get ('scott') || 0;\nvar tune = global.get ('tune') || 0;\nvar setPhi = global.get ('setPhi') || 1.5;\nvar setPlo = global.get ('setPlo') || 1.5;\nvar setDirt = global.get ('setDirt') || 0.75;\nvar phase_check = global.get ('phase_check') || 1;\nreturn msg;\n","outputs":"1","noerr":0,"x":150.83336766560888,"y":916.1908477147417,"wires":[["f2e9d603.4038e8","abd54eaf.ccce9","28fcc2d6.534cce","f300963c.8a0358"]]},{"id":"84c07bd3.232508","type":"inject","z":"3b41c620.6c4b9a","name":"Grand State of Things","topic":"","payload":"4","payloadType":"str","repeat":"1","crontab":"","once":true,"x":123.74998474121094,"y":853.0360593795776,"wires":[["3d45d70e.bcab08"]]},{"id":"3afe2a24.7bc846","type":"switch","z":"3b41c620.6c4b9a","name":"gate","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"gate","vt":"str"}],"checkall":"true","outputs":1,"x":792.1784528096518,"y":1045.7499388058977,"wires":[["de990dd0.5e8ba","408b2de6.bef0b4"]]},{"id":"de990dd0.5e8ba","type":"change","z":"3b41c620.6c4b9a","name":"gate","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":967.8610967000327,"y":1043.226053078969,"wires":[["79daff76.5de8c"]]},{"id":"8b141fb6.1a46a","type":"change","z":"3b41c620.6c4b9a","name":"filterlife","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1057.432362874349,"y":1142.3687971433,"wires":[["79daff76.5de8c"]]},{"id":"29fa190a.9126e6","type":"switch","z":"3b41c620.6c4b9a","name":"filterlife","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"filterlife","vt":"str"}],"checkall":"true","outputs":1,"x":819.5276921590171,"y":1144.8927629788714,"wires":[["8b141fb6.1a46a","69bc17f3.fefc48"]]},{"id":"87d6abfd.9912e8","type":"switch","z":"3b41c620.6c4b9a","name":"ballchk","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ballchk","vt":"str"}],"checkall":"true","outputs":1,"x":844.7657852172852,"y":1214.6545748710632,"wires":[["78d1dbc8.a91c34","8e1c64c4.5d29a8"]]},{"id":"78d1dbc8.a91c34","type":"change","z":"3b41c620.6c4b9a","name":"ballchk","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1124.2778015136719,"y":1275.1070008277893,"wires":[["79daff76.5de8c"]]},{"id":"1ef58da1.5d39a2","type":"inject","z":"3b41c620.6c4b9a","name":"gate 0","topic":"gate","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":63.845225016276345,"y":1149.0833579699192,"wires":[["b7cad295.fa7bb"]]},{"id":"a2c1720e.c56cd","type":"inject","z":"3b41c620.6c4b9a","name":"gate 1","topic":"gate","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":67.17855580647802,"y":1184.083360513051,"wires":[["b7cad295.fa7bb"]]},{"id":"b7cad295.fa7bb","type":"function","z":"3b41c620.6c4b9a","name":"gate test","func":"global.set('gate', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":296.94045766194677,"y":1165.750084241231,"wires":[[]]},{"id":"a64f06e3.8b8cc8","type":"debug","z":"3b41c620.6c4b9a","name":"","active":true,"console":"false","complete":"true","x":1051.4642486572266,"y":1395.74999666214,"wires":[]},{"id":"f2e9d603.4038e8","type":"change","z":"3b41c620.6c4b9a","name":"gate filter","rules":[{"t":"set","p":"topic","pt":"msg","to":"gate","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":402.1786359151206,"y":930.2738550504046,"wires":[["3932f7e8.dd7bb8"]]},{"id":"3932f7e8.dd7bb8","type":"function","z":"3b41c620.6c4b9a","name":"gate","func":"msg.payload = global.get('gate');\nreturn msg;\n","outputs":1,"noerr":0,"x":562.178539276123,"y":951.9401183128357,"wires":[["3afe2a24.7bc846"]]},{"id":"6b704a54.c590e4","type":"inject","z":"3b41c620.6c4b9a","name":"table 0","topic":"table","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":72.17855580647802,"y":1282.4166715939837,"wires":[["5f031a5d.b6c844"]]},{"id":"a5fa90ea.0dae5","type":"inject","z":"3b41c620.6c4b9a","name":"table 1","topic":"table","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":72.17855580647802,"y":1324.0832842191057,"wires":[["5f031a5d.b6c844"]]},{"id":"5f031a5d.b6c844","type":"function","z":"3b41c620.6c4b9a","name":"table test","func":"global.set('table', msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":294.0833562215171,"y":1240.7499440511065,"wires":[[]]},{"id":"fa50888a.c1cb68","type":"inject","z":"3b41c620.6c4b9a","name":"filterlife 0","topic":"filterlife","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":88.84521993001317,"y":1410.7499235471087,"wires":[["ef364359.c43fc"]]},{"id":"38f86cbf.8202c4","type":"inject","z":"3b41c620.6c4b9a","name":"filterlife 1","topic":"filterlife","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":93.84521230061864,"y":1454.0832479794817,"wires":[["ef364359.c43fc"]]},{"id":"ef364359.c43fc","type":"function","z":"3b41c620.6c4b9a","name":"filterlife test","func":"global.set('filterlife', msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":299.32139714558934,"y":1309.5593036015825,"wires":[[]]},{"id":"aa2b6bdf.1dc8a8","type":"inject","z":"3b41c620.6c4b9a","name":"ballchk 0","topic":"ballchk","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":105.5118878682456,"y":1509.0833719571428,"wires":[["55a0e6b8.68d3b8"]]},{"id":"9c5a934d.fad5d","type":"inject","z":"3b41c620.6c4b9a","name":"ballchk 1","topic":"ballchk","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":102.17855580647802,"y":1545.7499597867327,"wires":[["55a0e6b8.68d3b8"]]},{"id":"55a0e6b8.68d3b8","type":"function","z":"3b41c620.6c4b9a","name":"ballvalve test","func":"global.set('ballchk', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":334.08331298828125,"y":1503.3689579963684,"wires":[[]]},{"id":"28fcc2d6.534cce","type":"change","z":"3b41c620.6c4b9a","name":"filterlife filter","rules":[{"t":"set","p":"topic","pt":"msg","to":"filterlife","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":382.23809941609716,"y":1010.2738884290056,"wires":[["dc118ee6.18f85"]]},{"id":"f300963c.8a0358","type":"change","z":"3b41c620.6c4b9a","name":"ballvalve filter","rules":[{"t":"set","p":"topic","pt":"msg","to":"ballchk","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":369.61905797322606,"y":1106.226085980733,"wires":[["91e4280b.aad958"]]},{"id":"3eb81b67.3f1254","type":"switch","z":"3b41c620.6c4b9a","name":"table","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"table","vt":"str"}],"checkall":"true","outputs":1,"x":802.1785519917808,"y":1090.750020821889,"wires":[["4cad5e06.9cc23","adc4b467.e2d9a8"]]},{"id":"4cad5e06.9cc23","type":"change","z":"3b41c620.6c4b9a","name":"table","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":986.7499364217124,"y":1083.226110299428,"wires":[["79daff76.5de8c"]]},{"id":"abd54eaf.ccce9","type":"change","z":"3b41c620.6c4b9a","name":"table filter","rules":[{"t":"set","p":"topic","pt":"msg","to":"table","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":394.3214238484702,"y":971.2262991269426,"wires":[["de1fbef7.5a648"]]},{"id":"de1fbef7.5a648","type":"function","z":"3b41c620.6c4b9a","name":"table","func":"msg.payload = global.get('table');\nreturn msg;\n","outputs":1,"noerr":0,"x":553.8452275594077,"y":1024.0833528836565,"wires":[["3eb81b67.3f1254"]]},{"id":"408b2de6.bef0b4","type":"function","z":"3b41c620.6c4b9a","name":"gate set","func":"global.set('gate', msg.payload);\nif (global.get('gate') === 0 ) {global.set ('table', 0 );\nglobal.set ('filterlife', 0 );\nglobal.set ('ballchk', 0)}\nreturn ;\n","outputs":1,"noerr":0,"x":1228.1307907104492,"y":1051.7617201805115,"wires":[[]]},{"id":"adc4b467.e2d9a8","type":"function","z":"3b41c620.6c4b9a","name":"table test","func":"global.set('table', msg.payload);\nif (global.get('table') === 0 ) {\nglobal.set ('filterlife', 0 );\nglobal.set ('ballchk', 0)}\nreturn ;\n","outputs":1,"noerr":0,"x":1293.2498092651367,"y":1110.7500348091125,"wires":[[]]},{"id":"dc118ee6.18f85","type":"function","z":"3b41c620.6c4b9a","name":"table and filterlife","func":"msg.payload = global.get('filterlife');\nreturn msg;\n","outputs":1,"noerr":0,"x":598.8452275594077,"y":1130.750020821889,"wires":[["29fa190a.9126e6"]]},{"id":"69bc17f3.fefc48","type":"function","z":"3b41c620.6c4b9a","name":"filterlife test","func":"global.set('filterlife', msg.payload);\nif (global.get('filterlife') === 0 ) {\nglobal.set ('ballchk', 0)}\nreturn ;\n","outputs":1,"noerr":0,"x":1305.6903915405273,"y":1164.7976422309875,"wires":[[]]},{"id":"91e4280b.aad958","type":"function","z":"3b41c620.6c4b9a","name":"table and filterlife and ballvalve","func":"msg.payload = global.get('ballchk');\nreturn msg;\n","outputs":1,"noerr":0,"x":596.2262191772461,"y":1269.6783242225647,"wires":[["87d6abfd.9912e8"]]},{"id":"8e1c64c4.5d29a8","type":"function","z":"3b41c620.6c4b9a","name":"ballchk test","func":"global.set('ballchk', msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":1354.797622680664,"y":1243.9644932746887,"wires":[[]]},{"id":"66ff111e.6a825","type":"vis in","z":"3b41c620.6c4b9a","language":"en","x":329.75,"y":154.03572845458984,"wires":[["ac9fb9e.8c2e448","bd1559ff.a02928","d47d68a9.74b798"]]},{"id":"181b76b0.92df09","type":"vis in","z":"3b41c620.6c4b9a","language":"en","x":416.75,"y":416.03572845458984,"wires":[["5965b955.c4fea8","33e1f6a6.4f25aa","337e6c4c.c88504"]]},{"id":"d806d64a.19bfb8","type":"vis in","z":"3b41c620.6c4b9a","language":"en","x":546.75,"y":650.0357284545898,"wires":[[]]},{"id":"79daff76.5de8c","type":"vis in","z":"3b41c620.6c4b9a","language":"en","x":868.75,"y":909.0357284545898,"wires":[["3afe2a24.7bc846","3eb81b67.3f1254","29fa190a.9126e6","87d6abfd.9912e8"]]},{"id":"4103648b.8b413c","type":"change","z":"74d95c4a.3dbd54","name":"","rules":[{"t":"set","p":"topic ","pt":"msg","to":"PS0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":444.7857971191406,"y":210.71428871154785,"wires":[["bbfc0cb8.c7e3c","a54eea1.a196b18"]]},{"id":"e0eccd27.95af1","type":"change","z":"74d95c4a.3dbd54","name":"","rules":[{"t":"set","p":"topic ","pt":"msg","to":"PS1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":465.3214340209961,"y":301.5357322692871,"wires":[["a39ae89c.034568","4bb9f7f7.6f9688"]]},{"id":"b89a1051.f627f","type":"inject","z":"74d95c4a.3dbd54","name":"Auto Tune PULSE","topic":"","payload":"","payloadType":"num","repeat":"1","crontab":"","once":true,"x":95,"y":581.4643249511719,"wires":[["135938a.99476c7","7fa6026d.eb7dbc","794c7649.fa2648","667b5016.28f89","67092cba.935654","24d0e35c.349ccc","2a6a658f.c3b9ea","39aaa562.20cffa","987edf6c.80dff","4ec38bbe.936ea4","dfd68b26.14cca8","ddf332e2.18adc","3106619f.e94c1e"]]},{"id":"a54eea1.a196b18","type":"function","z":"74d95c4a.3dbd54","name":"qualifier for write to data base set press","func":"if (global.get ('step4')===1) {\nglobal.set ('PS0', msg.payload );\nreturn msg;\n}\nreturn;","outputs":1,"noerr":0,"x":800.2977294921875,"y":211.1190643310547,"wires":[["b9d6efc9.1c9e9","3740b803.2f6ca8","8c48f56b.a7df08"]]},{"id":"4bb9f7f7.6f9688","type":"function","z":"74d95c4a.3dbd54","name":"qualifier for write to data base set press","func":"if (global.get ('step4')===1) {\nglobal.set ('PS1', msg.payload );\nreturn msg;\n}\nreturn;","outputs":1,"noerr":0,"x":821.4286422729492,"y":321.2976245880127,"wires":[["2e09afa2.f91e9","6c186cbe.95c614","c0f21eb4.c937e"]]},{"id":"593b6632.d542b8","type":"comment","z":"74d95c4a.3dbd54","name":"Help Get Data","info":"Push to get the /myRootTest/currentTime a from the collection Test.\nThat time has been set by the set data.","x":658.3333435058594,"y":450.666663646698,"wires":[]},{"id":"ffef0424.e622b8","type":"change","z":"74d95c4a.3dbd54","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/SP0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":777.9166870117188,"y":499.26190090179443,"wires":[["2a8dc326.2892fc"]]},{"id":"315695c.93a956a","type":"comment","z":"74d95c4a.3dbd54","name":"Help Get Data","info":"Push to get the /myRootTest/currentTime a from the collection Test.\nThat time has been set by the set data.","x":535.9523544311523,"y":495.90473651885986,"wires":[]},{"id":"2f4b93a1.788bac","type":"function","z":"74d95c4a.3dbd54","name":"global set PS0","func":"var PS0 = global.set ('PS0', msg.payload);\nreturn;","outputs":1,"noerr":0,"x":1237.1427307128906,"y":525.9999656677246,"wires":[[]]},{"id":"1afb99e0.2910d6","type":"function","z":"74d95c4a.3dbd54","name":"global set PS1","func":"var PS1 = global.set ('PS1', msg.payload);\nreturn;","outputs":1,"noerr":0,"x":1235.7143096923828,"y":675.0476503372192,"wires":[[]]},{"id":"8d5a3b46.1613a8","type":"inject","z":"74d95c4a.3dbd54","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":true,"x":492.14292907714844,"y":537.6190891265869,"wires":[["ffef0424.e622b8"]]},{"id":"e89e9fcc.0946a","type":"change","z":"74d95c4a.3dbd54","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/SP1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":799.9524536132812,"y":609.0476207733154,"wires":[["68e0fddc.9dc3d4"]]},{"id":"bbfc0cb8.c7e3c","type":"function","z":"74d95c4a.3dbd54","name":"actPres","func":"global.set ('actPres', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":669.7618732452393,"y":284.3333377838135,"wires":[[]]},{"id":"a39ae89c.034568","type":"function","z":"74d95c4a.3dbd54","name":"actFilt","func":"global.set ('actFilt', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":721.4285049438477,"y":396.61901092529297,"wires":[[]]},{"id":"39aaa562.20cffa","type":"function","z":"74d95c4a.3dbd54","name":"global setPress","func":"global.set ('setPres', global.get('PS0'));\nreturn;","outputs":1,"noerr":0,"x":208.09534454345703,"y":219.80952978134155,"wires":[[]]},{"id":"b9d6efc9.1c9e9","type":"debug","z":"74d95c4a.3dbd54","name":"","active":true,"console":"false","complete":"false","x":1336.4286880493164,"y":150.53571224212646,"wires":[]},{"id":"2e09afa2.f91e9","type":"debug","z":"74d95c4a.3dbd54","name":"","active":true,"console":"false","complete":"false","x":1170.416696548462,"y":361.24997425079346,"wires":[]},{"id":"31b8dd8f.98f2e2","type":"DataIn","z":"74d95c4a.3dbd54","collection":"d9146691.14e838","name":"","update":true,"path":"/SP0","x":1260.4285888671875,"y":109.57143020629883,"wires":[]},{"id":"b025175a.7d29a8","type":"DataIn","z":"74d95c4a.3dbd54","collection":"e27f7126.e4186","name":"","update":false,"path":"/SP1","x":1332.5714473724365,"y":427.5714302062988,"wires":[]},{"id":"68e0fddc.9dc3d4","type":"DataOut","z":"74d95c4a.3dbd54","collection":"e27f7126.e4186","name":"","path":"SP1","error":false,"x":994.1428604125977,"y":539.7142868041992,"wires":[["1afb99e0.2910d6","f630cff8.1b463"]]},{"id":"37a3a318.9ac33c","type":"inject","z":"74d95c4a.3dbd54","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":530.5714378356934,"y":572.1428756713867,"wires":[["e89e9fcc.0946a"]]},{"id":"3cf18b2d.6c5234","type":"debug","z":"74d95c4a.3dbd54","name":"","active":true,"console":"false","complete":"false","x":1196.1428604125977,"y":483.7142868041992,"wires":[]},{"id":"f630cff8.1b463","type":"debug","z":"74d95c4a.3dbd54","name":"","active":true,"console":"false","complete":"false","x":1217.428596496582,"y":606,"wires":[]},{"id":"2a8dc326.2892fc","type":"DataOut","z":"74d95c4a.3dbd54","collection":"d9146691.14e838","name":"","path":"/SP0","error":false,"x":992.1428604125977,"y":485.7142868041992,"wires":[["2f4b93a1.788bac","3cf18b2d.6c5234"]]},{"id":"3740b803.2f6ca8","type":"change","z":"74d95c4a.3dbd54","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/SP0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1058.9999504089355,"y":108,"wires":[["31b8dd8f.98f2e2"]]},{"id":"6c186cbe.95c614","type":"change","z":"74d95c4a.3dbd54","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/SP1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1086.1429595947266,"y":418.3809642791748,"wires":[["b025175a.7d29a8"]]},{"id":"8c48f56b.a7df08","type":"delay","z":"74d95c4a.3dbd54","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1316.4285746983119,"y":205.0000010899135,"wires":[["ffef0424.e622b8"]]},{"id":"c0f21eb4.c937e","type":"delay","z":"74d95c4a.3dbd54","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1349.2856750488281,"y":329.28569316864014,"wires":[["e89e9fcc.0946a"]]},{"id":"7fa6026d.eb7dbc","type":"function","z":"74d95c4a.3dbd54","name":"qualifier for write to data base set press","func":"if (global.get ('step3')===1) {\nglobal.set ('PS1', 0 );\nreturn msg;\n}\nreturn;","outputs":1,"noerr":0,"x":362.85721588134766,"y":953.2143144607544,"wires":[["bf6b54.1c1894b"]]},{"id":"135938a.99476c7","type":"function","z":"74d95c4a.3dbd54","name":"qualifier for write to data base set press","func":"if (global.get ('step3')===1) {\nglobal.set ('PS0', 0 );\nmsg.payload = global.get('PS0');\nreturn msg;\n}\nreturn;","outputs":1,"noerr":0,"x":364.22628021240234,"y":914.8214416503906,"wires":[["e598257f.b5c6b8","3d1e46a2.fb12ca"]]},{"id":"59aa9a51.e29ad4","type":"debug","z":"74d95c4a.3dbd54","name":"","active":true,"console":"false","complete":"payload","x":917.8570709228516,"y":907.1428089141846,"wires":[]},{"id":"bf6b54.1c1894b","type":"rbe","z":"74d95c4a.3dbd54","name":"","func":"rbe","gap":"","start":"","inout":"out","x":777.8571662902832,"y":1027.857172012329,"wires":[["e89e9fcc.0946a"]]},{"id":"e598257f.b5c6b8","type":"rbe","z":"74d95c4a.3dbd54","name":"","func":"rbe","gap":"","start":"","inout":"out","x":625.0000032697403,"y":885.0000010899134,"wires":[["ffef0424.e622b8"]]},{"id":"3d1e46a2.fb12ca","type":"rbe","z":"74d95c4a.3dbd54","name":"","func":"rbe","gap":"","start":"","inout":"out","x":755.0000076293945,"y":977.8571462631226,"wires":[["59aa9a51.e29ad4"]]},{"id":"d2f5350c.45a1c8","type":"change","z":"74d95c4a.3dbd54","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/SP03","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":745.4760818481445,"y":1215.714171409607,"wires":[["d6838e5.977eb7","6c269d8.80c4b64"]]},{"id":"ab37700c.2d02a","type":"change","z":"74d95c4a.3dbd54","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/SP02","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":754.3808975219727,"y":1175.6190242767334,"wires":[["50253423.f9469c","335a7fe2.851d4"]]},{"id":"6889035f.e6744c","type":"inject","z":"74d95c4a.3dbd54","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":517.142822265625,"y":1187.3809566497803,"wires":[["ab37700c.2d02a"]]},{"id":"cf06c961.8e4838","type":"inject","z":"74d95c4a.3dbd54","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":510.80936431884766,"y":1237.1427278518677,"wires":[["d2f5350c.45a1c8"]]},{"id":"e545d6fa.769778","type":"change","z":"74d95c4a.3dbd54","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/SP04","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":747.1427536010742,"y":1265.7141637802124,"wires":[["7afe906a.37b9f","c4ab6c25.9c03f"]]},{"id":"66609923.224a58","type":"inject","z":"74d95c4a.3dbd54","name":"","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":512.4760360717773,"y":1287.1427202224731,"wires":[["e545d6fa.769778"]]},{"id":"50253423.f9469c","type":"DataIn","z":"74d95c4a.3dbd54","collection":"e91cdfb6.24763","name":"","update":false,"path":"/SP02","x":1020.4762802124023,"y":1169.0476245880127,"wires":[]},{"id":"d6838e5.977eb7","type":"DataIn","z":"74d95c4a.3dbd54","collection":"cc4ffb84.909ba8","name":"","update":false,"path":"/SP03","x":1022.1427841186523,"y":1210.7142524719238,"wires":[]},{"id":"7afe906a.37b9f","type":"DataIn","z":"74d95c4a.3dbd54","collection":"cbf1ef6f.fe9b","name":"","update":false,"path":"/SP04","x":1023.8095321655273,"y":1264.04762840271,"wires":[]},{"id":"6be8cbf8.a88ef4","type":"DataOut","z":"74d95c4a.3dbd54","collection":"e91cdfb6.24763","name":"","path":"/SP02","error":false,"x":960.4761238098145,"y":1387.3809652328491,"wires":[["24cb2389.ed130c"]]},{"id":"da6069d1.a36c38","type":"change","z":"74d95c4a.3dbd54","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/SP03","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":712.1427993774414,"y":1437.3809127807617,"wires":[["ea16fb85.bb4e78"]]},{"id":"1e1d7818.f1ed18","type":"change","z":"74d95c4a.3dbd54","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/SP02","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":721.0476150512695,"y":1397.2857656478882,"wires":[["6be8cbf8.a88ef4"]]},{"id":"c3be5efb.122b5","type":"inject","z":"74d95c4a.3dbd54","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":483.8095397949219,"y":1409.047698020935,"wires":[["1e1d7818.f1ed18"]]},{"id":"724c9257.dac1cc","type":"change","z":"74d95c4a.3dbd54","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/SP04","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":713.8094711303711,"y":1487.3809051513672,"wires":[["fda896f6.fb9ff8"]]},{"id":"ea16fb85.bb4e78","type":"DataOut","z":"74d95c4a.3dbd54","collection":"cc4ffb84.909ba8","name":"","path":"/SP03","error":false,"x":971.8095283508301,"y":1456.7142038345337,"wires":[["2627b44.68aff4c"]]},{"id":"fda896f6.fb9ff8","type":"DataOut","z":"74d95c4a.3dbd54","collection":"cbf1ef6f.fe9b","name":"","path":"/SP04","error":false,"x":966.8095474243164,"y":1500.0476608276367,"wires":[["637498f4.2e9a58"]]},{"id":"a5aab2d9.d631d","type":"inject","z":"74d95c4a.3dbd54","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":483.80948638916016,"y":1445.7142868041992,"wires":[["da6069d1.a36c38"]]},{"id":"b9495463.4bc608","type":"inject","z":"74d95c4a.3dbd54","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":482.14286041259766,"y":1492.3809127807617,"wires":[["724c9257.dac1cc"]]},{"id":"d4f2a98b.e50cf8","type":"debug","z":"74d95c4a.3dbd54","name":"","active":true,"console":"false","complete":"false","x":1650.1427688598633,"y":1383.3809127807617,"wires":[]},{"id":"845600da.22fc5","type":"debug","z":"74d95c4a.3dbd54","name":"","active":true,"console":"false","complete":"false","x":1643.4761428833008,"y":1468.0475387573242,"wires":[]},{"id":"17c2b551.4c735b","type":"debug","z":"74d95c4a.3dbd54","name":"","active":true,"console":"false","complete":"false","x":1644.1428909301758,"y":1426.0475387573242,"wires":[]},{"id":"794c7649.fa2648","type":"function","z":"74d95c4a.3dbd54","name":"qualifier for write to data base set press","func":"if (global.get ('step6')===1) {\nmsg.payload = global.get ('oldPhi');\nreturn msg;\n}\nreturn;","outputs":1,"noerr":0,"x":176.42850494384766,"y":1049.285680770874,"wires":[["ab37700c.2d02a"]]},{"id":"667b5016.28f89","type":"function","z":"74d95c4a.3dbd54","name":"qualifier for write to data base set press","func":"if (global.get ('step6')===1) {\nmsg.payload = global.get ('oldPlo');\nreturn msg;\n}\nreturn;","outputs":1,"noerr":0,"x":177.85713958740234,"y":1090.7141819000244,"wires":[["d2f5350c.45a1c8"]]},{"id":"67092cba.935654","type":"function","z":"74d95c4a.3dbd54","name":"qualifier for write to data base set press","func":"if (global.get ('step6')===1) {\nmsg.payload = global.get ('oldFilt');\nreturn msg;\n}\nreturn;","outputs":1,"noerr":0,"x":184.99999618530273,"y":1133.571481704712,"wires":[["e545d6fa.769778"]]},{"id":"3f5eb087.f1e6c","type":"rbe","z":"74d95c4a.3dbd54","name":"","func":"rbe","gap":"","start":"","inout":"out","x":496.4285469055176,"y":1069.2857670783997,"wires":[[]]},{"id":"a0c39f7b.9f793","type":"rbe","z":"74d95c4a.3dbd54","name":"","func":"rbe","gap":"","start":"","inout":"out","x":490.7142677307129,"y":1112.142822265625,"wires":[[]]},{"id":"fc8ac6d5.5ef448","type":"rbe","z":"74d95c4a.3dbd54","name":"","func":"rbe","gap":"","start":"","inout":"out","x":496.4285545349121,"y":1150.7142324447632,"wires":[[]]},{"id":"24cb2389.ed130c","type":"function","z":"74d95c4a.3dbd54","name":"global set PS2","func":"var PS2 = global.set ('PS2', msg.payload);\nvar oldPhi = global.set ('oldPhi', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1418.809425354004,"y":1384.0476722717285,"wires":[["d4f2a98b.e50cf8"]]},{"id":"2627b44.68aff4c","type":"function","z":"74d95c4a.3dbd54","name":"global set PS3","func":"var PS3 = global.set ('PS3', msg.payload);\nvar oldPlo = global.set ('oldPlo', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1420.4761123657227,"y":1427.3809127807617,"wires":[["17c2b551.4c735b"]]},{"id":"637498f4.2e9a58","type":"function","z":"74d95c4a.3dbd54","name":"global set PS4","func":"var PS4 = global.set ('PS4', msg.payload);\nvar oldDirt = global.set ('oldFilt', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1407.1428833007812,"y":1465.7142219543457,"wires":[["845600da.22fc5"]]},{"id":"335a7fe2.851d4","type":"delay","z":"74d95c4a.3dbd54","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":158.8095359802246,"y":1330.7143383026123,"wires":[["1e1d7818.f1ed18"]]},{"id":"6c269d8.80c4b64","type":"delay","z":"74d95c4a.3dbd54","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180.4761734008789,"y":1377.3809127807617,"wires":[["da6069d1.a36c38"]]},{"id":"c4ab6c25.9c03f","type":"delay","z":"74d95c4a.3dbd54","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":192.14286041259766,"y":1415.7142868041992,"wires":[["724c9257.dac1cc"]]},{"id":"24d0e35c.349ccc","type":"function","z":"74d95c4a.3dbd54","name":"actPres","func":"msg.payload = global.get ('actPres');\nreturn msg;","outputs":1,"noerr":0,"x":163.8690528869629,"y":175.13096046447754,"wires":[["4103648b.8b413c"]]},{"id":"2a6a658f.c3b9ea","type":"function","z":"74d95c4a.3dbd54","name":"actFilt","func":"msg.payload = global.get ('actFilt');\nreturn msg;","outputs":1,"noerr":0,"x":177.142822265625,"y":255.09520530700684,"wires":[["e0eccd27.95af1"]]},{"id":"987edf6c.80dff","type":"function","z":"74d95c4a.3dbd54","name":"global get PS2","func":"msg.payload = global.get('PS2');\nmsg.topic = 'PS2';\nreturn msg;","outputs":1,"noerr":0,"x":1140.1428909301758,"y":812.6190719604492,"wires":[["4af6367d.adc9d8"]]},{"id":"4ec38bbe.936ea4","type":"function","z":"74d95c4a.3dbd54","name":"global get PS3","func":"msg.payload = global.get('PS3');\nmsg.topic = 'PS3';\nreturn msg;","outputs":1,"noerr":0,"x":1151.1428909301758,"y":852.6190719604492,"wires":[["4af6367d.adc9d8"]]},{"id":"dfd68b26.14cca8","type":"function","z":"74d95c4a.3dbd54","name":"global get PS4","func":"msg.payload = global.get('PS4');\nmsg.topic = 'PS4';\nreturn msg;","outputs":1,"noerr":0,"x":1155.1428909301758,"y":899.6190719604492,"wires":[["4af6367d.adc9d8"]]},{"id":"ddf332e2.18adc","type":"function","z":"74d95c4a.3dbd54","name":"global get PS0","func":"msg.payload = global.get('PS0');\nmsg.topic = 'PS0';\nreturn msg;","outputs":1,"noerr":0,"x":1133.1428909301758,"y":724.6190719604492,"wires":[["4af6367d.adc9d8"]]},{"id":"3106619f.e94c1e","type":"function","z":"74d95c4a.3dbd54","name":"global get PS1","func":"msg.payload = global.get('PS1');\nmsg.topic = 'PS1';\nreturn msg;","outputs":1,"noerr":0,"x":1137.7620315551758,"y":765.6666793823242,"wires":[["4af6367d.adc9d8"]]},{"id":"5a9ff1e2.4659f","type":"inject","z":"74d95c4a.3dbd54","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":927.7857971191404,"y":71,"wires":[["31b8dd8f.98f2e2","b025175a.7d29a8"]]},{"id":"d76d7958.899a38","type":"inject","z":"74d95c4a.3dbd54","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":859.4524040222168,"y":447.66663098335266,"wires":[["2a8dc326.2892fc"]]},{"id":"f61826f2.f34998","type":"inject","z":"74d95c4a.3dbd54","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":844.4524230957031,"y":561,"wires":[["68e0fddc.9dc3d4"]]},{"id":"db36deb.f90e42","type":"inject","z":"74d95c4a.3dbd54","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":726.1191253662109,"y":1121.00004196167,"wires":[["50253423.f9469c","d6838e5.977eb7","7afe906a.37b9f"]]},{"id":"1973ebf1.81fc54","type":"inject","z":"74d95c4a.3dbd54","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":742.7857360839844,"y":1339.333251953125,"wires":[["6be8cbf8.a88ef4","ea16fb85.bb4e78","fda896f6.fb9ff8"]]},{"id":"4af6367d.adc9d8","type":"vis in","z":"74d95c4a.3dbd54","language":"en","x":1372.5,"y":805,"wires":[[]]},{"id":"e6415729.29f048","type":"inject","z":"93aa7839.f801f8","name":"ALRM 0","topic":"system_state","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":171.1666603088379,"y":94.38094663619995,"wires":[["55f94ecc.29481"]]},{"id":"e6f760bc.c0dc9","type":"inject","z":"93aa7839.f801f8","name":"ALRM 1","topic":"system_state","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":171.5000114440918,"y":132.71431732177734,"wires":[["55f94ecc.29481"]]},{"id":"6aa446b0.1ff138","type":"inject","z":"93aa7839.f801f8","name":"ALRM 2","topic":"system_state","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":174.8333396911621,"y":168.04769897460938,"wires":[["55f94ecc.29481"]]},{"id":"d08db28d.70e47","type":"inject","z":"93aa7839.f801f8","name":"blwr 0","topic":"blwr","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":172.8333396911621,"y":301.7142639160156,"wires":[["5e4c94e8.eae26c"]]},{"id":"b95d209f.82bcc","type":"inject","z":"93aa7839.f801f8","name":"blwr 1","topic":"blwr","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":176.16666793823242,"y":346.0476379394531,"wires":[["5e4c94e8.eae26c"]]},{"id":"5e4c94e8.eae26c","type":"function","z":"93aa7839.f801f8","name":"global set blwr","func":"global.set('blwr',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":372.16665267944336,"y":330.3810119628906,"wires":[[]]},{"id":"bca9ebca.c7d478","type":"inject","z":"93aa7839.f801f8","name":"blwr 2","topic":"blwr","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":179.5000114440918,"y":388.3810119628906,"wires":[["5e4c94e8.eae26c"]]},{"id":"51124019.6ad64","type":"inject","z":"93aa7839.f801f8","name":"blwr 3","topic":"blwr","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":178.16657638549805,"y":429.047607421875,"wires":[["5e4c94e8.eae26c"]]},{"id":"50b78d7f.32c164","type":"inject","z":"93aa7839.f801f8","name":"ALRM 3","topic":"system_state","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":176.16665267944336,"y":202.7142791748047,"wires":[["55f94ecc.29481"]]},{"id":"678a3238.1cb65c","type":"inject","z":"93aa7839.f801f8","name":"Auto Tune PULSE","topic":"","payload":"ddd","payloadType":"str","repeat":"1","crontab":"","once":true,"x":140.49999618530273,"y":612.3809351921082,"wires":[["b360f406.777948","1498dc7f.e6c834","bab5d226.5e42f","6f4326b.c5f23d8","6ab98da7.7c7554","243f11c0.8aff3e","d7eaad6d.2873b","73273307.b9e20c","b8d6e05a.d4836","163674e3.b9352b","ba848dad.9241","425613e5.272a0c","e53f30ca.caad1"]]},{"id":"10a353f9.3e67dc","type":"comment","z":"93aa7839.f801f8","name":"var","info":"var start_stop = global.get ('start_stop')||0;\nvar man_control = global.get ('man_control')||0;\nvar test_mode = global.get ('test_mode')||0;\nvar alarm = global.get ('alarm') || 0;\nvar blwr = global.get ('blwr') || 0;\nvar speed = global.get ('speed')|| 0;\nvar flt = global.get ('flt') || 1;\nvar count = global.get ('count') || 0;\nvar permPres = global.get ('permPres') || 2.5;\nvar actPres = global.get ('actPres') || 5.5;\nvar permPlo = global.get ('permPlo') || 3.5;\nvar permPhi = global.get ('permPhi') || 7.5;\nvar dirtFilt = global.get ('dirtFilt') || 2.5;\nvar permFilt = global.get ('permFilt') || 0.2;\nvar begin = global.get ('begin') || 0;\nvar step1 = global.get ('step1' ) || 0;\nvar step2 = global.get ('step2' ) || 0;\nvar step3 = global.get ('step3' ) || 0;\nvar step4 = global.get ('step4' ) || 0;\nvar step5 = global.get ('step5' ) || 0;\nvar step6 = global.get ('step6' ) || 0;\nvar step7 = global.get ('step7' ) || 0;\nvar gate = global.get ('gate' ) || 0;\nvar table = global.get ('table' ) || 0;\nvar filterlife = global.get ('filterlife' ) || 0;\nvar ballvalve = global.get ('ballvalve' ) || 0;\nvar gate2 = global.get ('gate2' ) || 0;\nvar table2 = global.get ('table2' ) || 0;\nvar filterlife2 = global.get ('filterlife2' ) || 0;\nvar ballvalve2 = global.get ('ballvalve2' ) || 0;\nvar reset = global.get ('reset' ) || 0;\nvar test_mode = global.get ('test_mode' ) || 0;\nvar phase = global.get ('phase' ) || 1;\nvar scott = global.get ('scott') || 0;","x":128.8333854675293,"y":542.3809523582458,"wires":[]},{"id":"bab5d226.5e42f","type":"function","z":"93aa7839.f801f8","name":"global get man_control","func":"msg.payload = global.get('man_control');\nmsg.topic = 'man_control';\nreturn msg;","outputs":1,"noerr":0,"x":583.8809700012207,"y":695.2857137918472,"wires":[["12a8a788.32e9c8"]]},{"id":"6f4326b.c5f23d8","type":"function","z":"93aa7839.f801f8","name":"global get test_mode","func":"msg.payload = global.get('test_mode');\nmsg.topic = 'test_mode';\nreturn msg;","outputs":1,"noerr":0,"x":597.4999961853027,"y":729.047607421875,"wires":[["12a8a788.32e9c8"]]},{"id":"98861f5b.1778b","type":"function","z":"93aa7839.f801f8","name":"global get alarm","func":"msg.payload = global.get('alarm');\nmsg.topic = 'alarm';\nreturn msg;","outputs":1,"noerr":0,"x":847.500057220459,"y":508.0475769042969,"wires":[["12a8a788.32e9c8"]]},{"id":"6ab98da7.7c7554","type":"function","z":"93aa7839.f801f8","name":"global get blwr","func":"msg.payload = global.get('blwr');\nmsg.topic = 'blwr';\nreturn msg;","outputs":1,"noerr":0,"x":417.69042587280273,"y":875.5238037109375,"wires":[["be6f9423.86ed68","a1360f7f.78c4a","12a8a788.32e9c8"]]},{"id":"be6f9423.86ed68","type":"function","z":"93aa7839.f801f8","name":"global get speed","func":"if (global.get('blwr')===0) {global.set('speed', 'BLWR IDLE');}\nif (global.get('blwr')===1) {global.set('speed', 'BLWR WIND UP');}\nif (global.get('blwr')===2) {global.set('speed', 'FULL SPEED');}\nif (global.get('blwr')===3) {global.set('speed', 'BLWR SLOWING');}\nif (global.get('blwr')===4) {global.set('speed', 'BLWR LOCKED OFF');}\nmsg.payload = global.get('speed');\nmsg.topic = 'speed';\nreturn msg;","outputs":1,"noerr":0,"x":658.8333854675293,"y":838.5237165689468,"wires":[["12a8a788.32e9c8"]]},{"id":"73273307.b9e20c","type":"function","z":"93aa7839.f801f8","name":"global get flt","func":"msg.payload = global.get('flt');\nmsg.topic = 'flt';\nreturn msg;","outputs":1,"noerr":0,"x":426.49999618530273,"y":836.3809814453125,"wires":[["12a8a788.32e9c8"]]},{"id":"b360f406.777948","type":"function","z":"93aa7839.f801f8","name":"global get begin","func":"msg.payload = global.get('begin');\nmsg.topic = 'begin';\nreturn msg;","outputs":1,"noerr":0,"x":604.9761924743652,"y":622.9524536132812,"wires":[["12a8a788.32e9c8"]]},{"id":"c2bacb08.681fb8","type":"function","z":"93aa7839.f801f8","name":"global get phase","func":"msg.payload = global.get('phase');\nmsg.topic = 'phase';\nreturn msg;","outputs":1,"noerr":0,"x":847.8332481384277,"y":399.7142333984375,"wires":[["12a8a788.32e9c8"]]},{"id":"d7eaad6d.2873b","type":"function","z":"93aa7839.f801f8","name":"global get ballvalve2","func":"msg.payload = global.get('ballvalve3');\nmsg.topic = 'ballvalve2';\nreturn msg;","outputs":1,"noerr":0,"x":436.16662216186523,"y":916.9522705078125,"wires":[["51872d2a.520774","12a8a788.32e9c8"]]},{"id":"4e760770.c684d8","type":"inject","z":"93aa7839.f801f8","name":"FLOAT:Off 1","topic":"flt","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"x":179.95255279541016,"y":1634.3808898925781,"wires":[["404967f4.23bdc8"]]},{"id":"76dede06.54354","type":"inject","z":"93aa7839.f801f8","name":"FLOAT:On 0","topic":"flt","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":171.50016403198242,"y":1695.8570766448975,"wires":[["404967f4.23bdc8"]]},{"id":"404967f4.23bdc8","type":"function","z":"93aa7839.f801f8","name":"global set flt","func":"global.set('flt',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":390.5715980529785,"y":1677.6785516738892,"wires":[[]]},{"id":"e49d56c4.4de178","type":"function","z":"93aa7839.f801f8","name":"global set man_control","func":"global.set('man_control',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":827.2264366149902,"y":1196.380615234375,"wires":[[]]},{"id":"eb09e551.6e90c8","type":"switch","z":"93aa7839.f801f8","name":"set topic man_control","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"man_control","vt":"str"}],"checkall":"true","outputs":1,"x":374.51166915893555,"y":1207.9761962890625,"wires":[["ad0573b3.ac742"]]},{"id":"b8d6e05a.d4836","type":"function","z":"93aa7839.f801f8","name":"compare man_control, blwr, flt, alarm","func":"if (global.get('man_control')===1 && global.get ('flt')===1 && \nglobal.get ('blwr')===0 && global.get ('alarm2')===0 && global.get ('tune')===0) {\nvar ballvalve3 = global.set ('ballvalve3',1);\nmsg.payload = global.get ('ballvalve3');\nmsg.topic = 'ballvalve2';\nreturn msg;\n}\nelse \nif (global.get('dynFill')==1 && global.get ('blwr')===2 && global.get ('alarm2')===0 && \nglobal.get ('tune')===0) {\nvar ballvalve3 = global.set ('ballvalve3',1);\nmsg.payload = global.get ('ballvalve3');\nmsg.topic = 'ballvalve2';\nreturn msg;\n} else\nif (global.get('tune')===1) {\nmsg.payload = global.get ('ballvalve3');\nmsg.topic = 'ballvalve2';\nreturn msg;\n}\nglobal.set('ballvalve3', 0 );\nmsg.payload = global.get ('ballvalve3');\nmsg.topic = 'ballvalve2';","outputs":1,"noerr":0,"x":623.2976036071777,"y":765.9642333984375,"wires":[["12a8a788.32e9c8"]]},{"id":"81d211ab.94037","type":"inject","z":"93aa7839.f801f8","name":"","topic":"man_control","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":206.49999618530273,"y":1062.7142333984375,"wires":[["ad0573b3.ac742"]]},{"id":"97af37a.c4a4cc8","type":"inject","z":"93aa7839.f801f8","name":"","topic":"man_control","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":177.30952072143555,"y":1111.0950927734375,"wires":[["ad0573b3.ac742"]]},{"id":"ad0573b3.ac742","type":"change","z":"93aa7839.f801f8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":612.3928184509277,"y":1200.96435546875,"wires":[["e49d56c4.4de178"]]},{"id":"30b452d6.e7e3be","type":"inject","z":"93aa7839.f801f8","name":"START - ON","topic":"start_stop","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":211.4999885559082,"y":1354.047607421875,"wires":[["85e4daf7.956608"]]},{"id":"18b1811e.8ad1cf","type":"inject","z":"93aa7839.f801f8","name":"START OFF (STOP)","topic":"start_stop","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":198.2618064880371,"y":1390.2860107421875,"wires":[["85e4daf7.956608"]]},{"id":"85e4daf7.956608","type":"function","z":"93aa7839.f801f8","name":"global set START_STOP","func":"global.set('start_stop',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":577.0594749450684,"y":1353.0238037109375,"wires":[["a828243a.b1d1c8"]]},{"id":"14bafeb2.2d16c1","type":"switch","z":"93aa7839.f801f8","name":"set topic start_stop","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"start_stop","vt":"str"}],"checkall":"true","outputs":1,"x":366.88098907470703,"y":1253.666641831398,"wires":[["cfa14513.0d0fa8"]]},{"id":"ea3b901.be9627","type":"trigger","z":"93aa7839.f801f8","op1":"","op2":"1","op1type":"nul","op2type":"num","duration":"15","extend":false,"units":"s","reset":"99","name":"WIND UP TMR","x":1494.3574256896973,"y":1003.8095188140869,"wires":[["ebcf6bb2.fd91b8"]]},{"id":"ffde4e07.e172c","type":"trigger","z":"93aa7839.f801f8","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"2","extend":true,"units":"s","reset":"99","name":"blwer on","x":844.3095054626465,"y":1035.4520874023438,"wires":[["f912bf9d.19c95","c0cb654b.676318"]]},{"id":"2aedb98d.d6b596","type":"function","z":"93aa7839.f801f8","name":"reset true","func":"global.set ('reset',99);\nreturn;","outputs":1,"noerr":0,"x":1218.5592956542969,"y":1317.3331112861633,"wires":[[]]},{"id":"f912bf9d.19c95","type":"rbe","z":"93aa7839.f801f8","name":"","func":"rbe","gap":"","start":"","inout":"out","x":1052.1666221618652,"y":1013.3809204101562,"wires":[["887c8130.5dcfa"]]},{"id":"ebcf6bb2.fd91b8","type":"function","z":"93aa7839.f801f8","name":"global set blwr","func":"global.set('blwr',2);\nreturn ;","outputs":1,"noerr":0,"x":1598.8332786560059,"y":917.3810482025146,"wires":[[]]},{"id":"887c8130.5dcfa","type":"switch","z":"93aa7839.f801f8","name":"1 up 0 dwn","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":1237.4999961853027,"y":1003.3809204101562,"wires":[["ea3b901.be9627"],["3b2d5a35.6251a6"]]},{"id":"56b69c77.888784","type":"trigger","z":"93aa7839.f801f8","op1":"","op2":"1","op1type":"nul","op2type":"num","duration":"30","extend":false,"units":"s","reset":"99","name":"WIND DWN TMR","x":1368.9405479431152,"y":1186.35693359375,"wires":[["9a8bcab9.0352a8"]]},{"id":"ac65d4b6.0eb4b8","type":"change","z":"93aa7839.f801f8","name":"reset 99","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":880.5950889587402,"y":1234.428466796875,"wires":[["56b69c77.888784","2aedb98d.d6b596","ea3b901.be9627"]]},{"id":"44919db.5cb0f64","type":"switch","z":"93aa7839.f801f8","name":"reset","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"reset","vt":"str"}],"checkall":"true","outputs":1,"x":593.4522666931152,"y":1238.8094482421875,"wires":[["ac65d4b6.0eb4b8"]]},{"id":"3b2d5a35.6251a6","type":"function","z":"93aa7839.f801f8","name":"global set blwr","func":"global.set('blwr',3);\nreturn;","outputs":1,"noerr":0,"x":1520.4998970031738,"y":1092.3807101249695,"wires":[[]]},{"id":"9a8bcab9.0352a8","type":"function","z":"93aa7839.f801f8","name":"global set blwr","func":"global.set('blwr',0);\nreturn;","outputs":1,"noerr":0,"x":1583.3570442199707,"y":1187.3808393478394,"wires":[[]]},{"id":"a1360f7f.78c4a","type":"switch","z":"93aa7839.f801f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","outputs":5,"x":560.1666946411133,"y":1044.0476900339127,"wires":[[],["ffde4e07.e172c"],["ffde4e07.e172c"],["56b69c77.888784","6c272071.66813"],["12a8a788.32e9c8"]]},{"id":"a828243a.b1d1c8","type":"function","z":"93aa7839.f801f8","name":"global check blwr","func":"var newmsg = msg.payload; var newmsg2 = global.get('blwr');\nif (newmsg2 ===0 && newmsg === 1) {global.set('blwr', 1)}\nif (newmsg2 ===0 && newmsg === 0) {global.set('blwr', 0)}\nif (newmsg2 ==1 && newmsg === 0) {global.set('blwr', 3)}\nif (newmsg2 ==2 && newmsg === 0) {global.set('blwr', 3)}\nif (newmsg2 ==3 && newmsg === 1) {global.set('blwr', 1)}\nif (newmsg2 ==3 && newmsg === 0) {global.set('blwr', 0)}\nif (global.get('reset')== 99 )  {global.set('blwr', 0)}\nmsg.payload = global.get('blwr');\nmsg.topic = 'blwr';\nreturn;","outputs":1,"noerr":0,"x":841.8333702087402,"y":1357.155029296875,"wires":[[]]},{"id":"243f11c0.8aff3e","type":"function","z":"93aa7839.f801f8","name":"global get man_fill","func":"msg.topic = 'man_fill';\nif (global.get('man_control')===0) {global.set('man_fill', 'MAN FILL OFF');}\nif (global.get('man_control')==1) {global.set('man_fill', 'MAN FILL ON');}\nif (global.get('alarm2')==1) {global.set('man_fill', 'LOCKED OUT');}\nmsg.payload = global.get('man_fill');\nreturn msg;","outputs":1,"noerr":0,"x":517.1666831970215,"y":801.7142333984375,"wires":[["12a8a788.32e9c8"]]},{"id":"4921497.89bbcb8","type":"function","z":"93aa7839.f801f8","name":"global set valve_state","func":"if (global.get('ballvalve3')===0) {global.set('valve_state', 'WATER OFF')}\nif (global.get('ballvalve3')===1) {global.set('valve_state', 'WATER ADDING')}\nif (global.get('alarm2')==1) {global.set('valve_state', 'LOCKED OUT')}\nmsg.payload = global.get('valve_state');\nmsg.topic = 'valve_state';\nreturn msg;","outputs":1,"noerr":0,"x":1085.5595664978027,"y":938.3451538085938,"wires":[["12a8a788.32e9c8"]]},{"id":"c55a25d3.c11588","type":"trigger","z":"93aa7839.f801f8","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"3","extend":true,"units":"s","reset":"99","name":"valve off delay","x":855.2259483337402,"y":904.8928833007812,"wires":[["4921497.89bbcb8"]]},{"id":"51872d2a.520774","type":"switch","z":"93aa7839.f801f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":668.7974815368652,"y":940.8095092773438,"wires":[["c55a25d3.c11588"],["4921497.89bbcb8"]]},{"id":"9722ba4f.a34838","type":"function","z":"93aa7839.f801f8","name":"global set system_state","func":"if (global.get('blwr')===0) {global.set('system_state', 'ALARM IDLE');}\nif (global.get('blwr')===1) {global.set('system_state', 'SETTING ALARM');}\nif (global.get('blwr')===2) {global.set('system_state', 'OPERATION SAFE');}\nif (global.get('blwr')===3) {global.set('system_state', 'ALARM IN-ACTIVE');}\nif (global.get('blwr')===4) {global.set('system_state', 'TRIGGERED');}\nmsg.payload = global.get('system_state');\nmsg.topic = 'system_state';\nreturn msg;","outputs":1,"noerr":0,"x":600.5000038146973,"y":493.0476099252701,"wires":[["12a8a788.32e9c8"]]},{"id":"f25d8ea6.e4977","type":"function","z":"93aa7839.f801f8","name":"set alarm2 if alarm not 0","func":"if (global.get('blwr')===2 && global.get ('alarm')!==0) {\nvar alarm2 = global.set ('alarm2',1);\nmsg.payload = global.get ('alarm2');\nmsg.topic = 'alarm2';\nreturn;\n    \n}\nelse return;","outputs":1,"noerr":0,"x":883.8810997009277,"y":289.618896484375,"wires":[[]]},{"id":"1498dc7f.e6c834","type":"function","z":"93aa7839.f801f8","name":"global get start_stop","func":"msg.payload = global.get('start_stop');\nmsg.topic = 'start_stop';\nreturn msg;","outputs":1,"noerr":0,"x":590.4047203063965,"y":659.1905517578125,"wires":[["12a8a788.32e9c8"]]},{"id":"4c9b344c.42300c","type":"inject","z":"93aa7839.f801f8","name":"","topic":"actPres","payload":"7.5","payloadType":"num","repeat":"","crontab":"","once":false,"x":161.45236587524414,"y":2299.285478115082,"wires":[["5b057e5d.40663"]]},{"id":"abb42cdd.f74bb","type":"inject","z":"93aa7839.f801f8","name":"","topic":"actPres","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":180.1666374206543,"y":2118.7148184776306,"wires":[["5b057e5d.40663"]]},{"id":"b2cdc936.e215b8","type":"inject","z":"93aa7839.f801f8","name":"","topic":"actPres","payload":"5.9","payloadType":"num","repeat":"","crontab":"","once":false,"x":161.78570938110352,"y":2174.3813223838806,"wires":[["5b057e5d.40663"]]},{"id":"317a687c.fe95f8","type":"inject","z":"93aa7839.f801f8","name":"","topic":"actPres","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"x":179.4047508239746,"y":2343.9048895835876,"wires":[["5b057e5d.40663"]]},{"id":"9cb255de.aeaca8","type":"inject","z":"93aa7839.f801f8","name":"","topic":"actFilt","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":190.23809432983398,"y":2424.7382254600525,"wires":[["ca5e960e.8841e8"]]},{"id":"6dbda45.1faca5c","type":"inject","z":"93aa7839.f801f8","name":"","topic":"actFilt","payload":"0.25","payloadType":"num","repeat":"","crontab":"","once":false,"x":196.90474319458008,"y":2464.405225276947,"wires":[["ca5e960e.8841e8"]]},{"id":"8b783bc2.efd2b8","type":"inject","z":"93aa7839.f801f8","name":"","topic":"actFilt","payload":"0.85","payloadType":"num","repeat":"","crontab":"","once":false,"x":204.90474319458008,"y":2503.405065059662,"wires":[["ca5e960e.8841e8"]]},{"id":"5b057e5d.40663","type":"function","z":"93aa7839.f801f8","name":"global set actPres","func":"global.set('actPres',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":387.5475425720215,"y":2336.428466796875,"wires":[[]]},{"id":"ca5e960e.8841e8","type":"function","z":"93aa7839.f801f8","name":"global set actFilt","func":"global.set('actFilt',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":425.4999809265137,"y":2480.9522576332092,"wires":[[]]},{"id":"75efdff9.7ff87","type":"function","z":"93aa7839.f801f8","name":"determine demand for dyn water","func":"var setPress = global.get('setPres');\nvar actPress = global.get('actPres');\nvar diff = (setPress-actPress);\nif (diff >= 0.25 ) {dynFill = global.set ('dynFill', 1 );\nmsg.payload = diff; msg.topic = 'actPres';\n    return msg;\n}\nif (diff < 0.25 ) {dynFill = global.set ('dynFill', 0 );\nmsg.payload = diff;\n//msg.topic = 'actPres';\n    return msg;\n}\n","outputs":1,"noerr":0,"x":810.2055625915527,"y":1678.0474853515625,"wires":[["450ba867.ec0e78"]]},{"id":"bc2e83a9.9a2dc","type":"inject","z":"93aa7839.f801f8","name":"","topic":"actPres","payload":"7.0","payloadType":"num","repeat":"","crontab":"","once":false,"x":155.02379989624023,"y":2238.5712971687317,"wires":[["5b057e5d.40663"]]},{"id":"3e3e8c02.3de4b4","type":"function","z":"93aa7839.f801f8","name":"get dynFill","func":"msg.payload = global.get('dynFill');\nmsg.topic = 'dynFill';\nreturn msg;","outputs":1,"noerr":0,"x":880.5833702087402,"y":1715.2974853515625,"wires":[["450ba867.ec0e78"]]},{"id":"fcb5ef06.3502c","type":"comment","z":"93aa7839.f801f8","name":"alrm 0 1 2 3 ","info":"0 - idle\n1 - hi press water oldPhi\n2 - lo press water oldPlo\n3 - dirtFilt dirtFilt","x":357.1666831970215,"y":132.38095092773438,"wires":[]},{"id":"6f80f265.afffec","type":"comment","z":"93aa7839.f801f8","name":"blwr 0 1 2 3 ","info":"0 - idle\n1 - wind up\n2 - full speed\n3 - wind down","x":366.833309173584,"y":285.047607421875,"wires":[]},{"id":"f6f60cfa.b76f6","type":"comment","z":"93aa7839.f801f8","name":"FLOW VARIABLES","info":"'test' = TEST MODE STATUS; 0 - on; 1 - off\n'wtr' = MAN FILL STATUS;1 - on; 0 - off;\n'sys' = ALARM STATUS;1 - lo; 2 - hi; 3 - dirty fltr\n'blwr' = BLOWER STATUS; 0 - off; 1 - on;\n'setPres' = SCRUB SET POINT WATER CONTROL;\n'actPres' = ACTUAL SCRUB PRESSURE;\n'dirtFilt' = FILTER DIRTY SET POINT;\n'actFilt' = ACTUAL FILTER PRESSURE;\n'oldPlo' = LOW WATER SHUT PRESSURE;\n'oldPhi' = HIGH WATER SHUT PRESSURE;","x":674.4999961853027,"y":37.380950927734375,"wires":[]},{"id":"3ea3bcad.f05e54","type":"comment","z":"93aa7839.f801f8","name":"VIS TOPICS","info":"'speed' - BLOWER STATE;\n'test_mode' - TEST MODE STATUS;\n'man_control' - MAN WATER FILL ON/OFF TO/FROM HMI;\n'valve_state' - WATER VALVE STATUS;\n'system_state' - ALARM STATE;\n'scrub_pressure' - HYDROTRON SCRUBBER PRESSURE;\n'filter_pressure' - AFTER FILTER PRESSURE;\n'man_fill' - STATUS OF SWITCH ON HMI\n'start_stop' - SWITCH STATUS HMI 1 - ON 0 - OFF\n","x":855.0833930969238,"y":35,"wires":[]},{"id":"7d9fb88d.cdcc98","type":"inject","z":"93aa7839.f801f8","name":"reboot!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":512.1666526794434,"y":89.0476188659668,"wires":[["9775fd4d.4f4eb"]]},{"id":"9775fd4d.4f4eb","type":"exec","z":"93aa7839.f801f8","command":"reboot #","addpay":false,"append":"","useSpawn":"","name":"reboot Pi","x":677.6666831970215,"y":89.58928298950195,"wires":[[],[],[]]},{"id":"9f219710.a8c058","type":"inject","z":"93aa7839.f801f8","name":"ALARM2 0","topic":"alarm2","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":173.83335494995117,"y":1744.0476059913635,"wires":[["49b9314d.9c2a4"]]},{"id":"653e7dc3.507de4","type":"inject","z":"93aa7839.f801f8","name":"ALARM2 1","topic":"alarm2","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":177.16669845581055,"y":1787.380980014801,"wires":[["49b9314d.9c2a4"]]},{"id":"49b9314d.9c2a4","type":"function","z":"93aa7839.f801f8","name":"global set alarm","func":"global.set('alarm2',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":433.8333549499512,"y":1740.7143151760101,"wires":[[]]},{"id":"3208e0a3.ea2e5","type":"function","z":"93aa7839.f801f8","name":"check alarm2 test","func":"if (global.get ('alarm')!==0) {\nvar alarm2 = global.set ('alarm2',1);\nmsg.payload = global.get ('alarm2');\nmsg.topic = 'alarm2';\nreturn msg;\n    \n}\nelse \nvar alarm2 = global.set ('alarm2',0);\nmsg.payload = global.get ('alarm2');\nmsg.topic = 'alarm2';\n\nreturn msg;","outputs":1,"noerr":0,"x":850.1666221618652,"y":471.04736328125,"wires":[["12a8a788.32e9c8"]]},{"id":"a624fb84.d0e7e8","type":"function","z":"93aa7839.f801f8","name":"global get alarm state","func":"if (global.get('alarm')===0) {\n    global.set('permPhi', 0);\n    global.set('permPlo', 0);\n    global.set('permDirt', 0);\n    global.set('timedout_alarm', 0)\n    return;\n}\nif (global.get('alarm')===1) {global.set('permPhi', 1);\n    global.set('permPlo', 0);\n    global.set('permDirt', 0); \n    global.set('timedout_alarm', 0)\n    return;\n}\nif (global.get('alarm')===2) {global.set('permPlo', 1);\n    global.set('permDirt', 0);\n    global.set('permPhi', 0);\n    global.set('timedout_alarm', 0)\n    return;\n}\nif (global.get('alarm')===3) {global.set('permDirt', 1);\n    global.set('permPhi', 0);\n    global.set('permPlo', 0); \n    global.set('timedout_alarm', 0)\n    return;\n}\nif (global.get('alarm')===4) {global.set('timedout_alarm', 1);\n    global.set('permPhi', 0);\n    global.set('permPlo', 0); \n    global.set('permDirt', 0)\n    return;\n}\nreturn ;","outputs":1,"noerr":0,"x":875.833309173584,"y":252.0474853515625,"wires":[[]]},{"id":"c2c3149f.857b38","type":"function","z":"93aa7839.f801f8","name":"global get oldPhi","func":"msg.payload = global.get('oldPhi');\nmsg.topic = 'oldPhi';\nreturn msg;","outputs":1,"noerr":0,"x":862.833309173584,"y":1760.714111328125,"wires":[["450ba867.ec0e78"]]},{"id":"5a21b678.4c17f8","type":"function","z":"93aa7839.f801f8","name":"global get oldPlo","func":"msg.payload = global.get('oldPlo');\nmsg.topic = 'oldPlo';\nreturn msg;","outputs":1,"noerr":0,"x":860.833309173584,"y":1800.047607421875,"wires":[["450ba867.ec0e78"]]},{"id":"5c54a76c.7a5ff8","type":"function","z":"93aa7839.f801f8","name":"global get dirtFilt","func":"msg.payload = global.get('dirtFilt');\nmsg.topic = 'dirtFilt';\nreturn msg;","outputs":1,"noerr":0,"x":859.833309173584,"y":1838.714111328125,"wires":[["450ba867.ec0e78"]]},{"id":"a9f7fd96.5a344","type":"inject","z":"93aa7839.f801f8","name":"blwr 4","topic":"blwr","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"x":180.50000381469727,"y":465.38092041015625,"wires":[["5e4c94e8.eae26c"]]},{"id":"ae1e6d4b.4c911","type":"function","z":"93aa7839.f801f8","name":"alarm2 lock out","func":"if (global.get ('alarm2')!==0) {\nglobal.set ('blwr',4);\nglobal.set ('ballvalve2', 0);\nglobal.set ('man_control', 0);\nglobal.set ('start_stop', 0);\nglobal.set ('valve_state', 'LOCKED OUT');\nglobal.set ('man_fill', 'LOCKED OUT');\nglobal.set ('dynFill', 0);\nreturn;\n}\nelse return;","outputs":1,"noerr":0,"x":842.1666221618652,"y":433.7142639160156,"wires":[[]]},{"id":"eb59edf8.3b2b9","type":"function","z":"93aa7839.f801f8","name":"global get actPres","func":"//var newmsg = global.get('PS0');\n//global.set('actFilt',newmsg);\nmsg.payload = global.get('actPres');\nmsg.topic = 'actPres';\nreturn msg;","outputs":1,"noerr":0,"x":857.4047203063965,"y":1903.71435546875,"wires":[["450ba867.ec0e78"]]},{"id":"84f4df36.d5b99","type":"function","z":"93aa7839.f801f8","name":"global get actFilt","func":"//var newmsg = global.get('PS0') - global.get ('PS1');\n//var actFilt = global.set('actFilt',msg.payload);\nmsg.payload = global.get('actFilt');\nmsg.topic = 'actFilt';\nreturn msg;","outputs":1,"noerr":0,"x":860.6190147399902,"y":1940.833251953125,"wires":[["450ba867.ec0e78"]]},{"id":"c0cb654b.676318","type":"switch","z":"93aa7839.f801f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":1035.3571739196777,"y":1059.5714111328125,"wires":[["245e5227.141e4e"],[]]},{"id":"245e5227.141e4e","type":"change","z":"93aa7839.f801f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1204.0714073181152,"y":1059.2857666015625,"wires":[["56b69c77.888784"]]},{"id":"6c272071.66813","type":"function","z":"93aa7839.f801f8","name":"global set blwr","func":"global.set('blwr',3);\nglobal.set('start_stop',0);\nreturn msg;","outputs":1,"noerr":0,"x":823.7499961853027,"y":1073,"wires":[["12a8a788.32e9c8"]]},{"id":"cfa14513.0d0fa8","type":"change","z":"93aa7839.f801f8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":553.7857322692871,"y":1276.428466796875,"wires":[["a828243a.b1d1c8","85e4daf7.956608","b21804ab.9899d8"]]},{"id":"b21804ab.9899d8","type":"function","z":"93aa7839.f801f8","name":"start stop reset windup","func":"if (msg.payload === 0) {msg.payload = 99;\nreturn msg;\n}\nelse\nreturn;","outputs":1,"noerr":0,"x":830.2142906188965,"y":1276,"wires":[["ea3b901.be9627"]]},{"id":"457b3436.3b774c","type":"function","z":"93aa7839.f801f8","name":"global set begin","func":"global.set('begin',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":841.5476036071777,"y":1526.523681640625,"wires":[["47a82f8f.14a75"]]},{"id":"47a82f8f.14a75","type":"function","z":"93aa7839.f801f8","name":"place holder begin","func":"msg.topic = \"begin\";\nreturn msg;","outputs":1,"noerr":0,"x":945.3214073181152,"y":1591.655029296875,"wires":[[]]},{"id":"dd0c9237.465ee","type":"change","z":"93aa7839.f801f8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":609.8930625915527,"y":1524.4044189453125,"wires":[["47a82f8f.14a75","457b3436.3b774c"]]},{"id":"aea74fce.f98","type":"switch","z":"93aa7839.f801f8","name":"set topic begin","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"begin","vt":"str"}],"checkall":"true","outputs":1,"x":365.654842376709,"y":1522.2139892578125,"wires":[["dd0c9237.465ee"]]},{"id":"356014b0.61fa5c","type":"inject","z":"93aa7839.f801f8","name":"","topic":"begin","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"x":169.54754257202148,"y":1535.1904296875,"wires":[["aea74fce.f98"]]},{"id":"960f182a.553058","type":"inject","z":"93aa7839.f801f8","name":"","topic":"begin","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"x":173.04754257202148,"y":1574.4404296875,"wires":[["aea74fce.f98"]]},{"id":"9221d5ed.466e38","type":"function","z":"93aa7839.f801f8","name":"autotune reset windup","func":"if (msg.payload === 0) {msg.payload = 99;\nreturn msg;\n}\nelse\nreturn;","outputs":1,"noerr":0,"x":828.5475425720215,"y":1316.1904296875,"wires":[["ea3b901.be9627"]]},{"id":"6b83c76d.fa3a78","type":"switch","z":"93aa7839.f801f8","name":"set topic begin","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"begin","vt":"str"}],"checkall":"true","outputs":1,"x":331.21426010131836,"y":1315.1904296875,"wires":[["9221d5ed.466e38"]]},{"id":"62dc131c.d2268c","type":"function","z":"93aa7839.f801f8","name":"set global alarm and counters","func":"if (global.get('tune')===0 && global.get('blwr')===2 && \n    global.get('actPres')>= global.get('oldPhi')) {\n    global.set('alarm',1);\n    var Phicount = global.get('Phicount') - (-1);    \n    return;}\nelse\nif (global.get('tune')===0 && global.get('blwr')===2 && \n    global.get('actPres')<= global.get('oldPlo')) {\n    global.set('alarm',2);\n    var Plocount = global.get('Plocount') - (-1);    \n    return;}\nelse\nif (global.get('tune')===0 && global.get('blwr')===2 && \n    global.get('filter_pressure')>= global.get('oldFilt')) {\n    global.set('alarm',3);\n    var Dirtcount = global.get('Dirtcount') - (-1);    \n    return;}\nelse\nif (global.get('tune')===1 && global.get('timedout')===1) {\n    global.set('alarm',4);\n    var Timedoutcount = global.get('Timedoutcount') - (-1);   \n    return;}\nmsg.payload = global.get('alarm');\nmsg.topic = 'alarm';\nreturn msg;","outputs":1,"noerr":0,"x":880.9999961853027,"y":364,"wires":[["12a8a788.32e9c8"]]},{"id":"55f94ecc.29481","type":"function","z":"93aa7839.f801f8","name":"global set alarm","func":"global.set('alarm',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":362.49999618530273,"y":168,"wires":[[]]},{"id":"e6db9bde.b94d08","type":"function","z":"93aa7839.f801f8","name":"global get permPhi","func":"msg.payload = global.get('permPhi');\nmsg.topic = 'permPhi';\nreturn msg;","outputs":1,"noerr":0,"x":864.4999961853027,"y":2028,"wires":[["450ba867.ec0e78"]]},{"id":"ce1d97a2.731c98","type":"function","z":"93aa7839.f801f8","name":"global get permPlo","func":"msg.payload = global.get('permPlo');\nmsg.topic = 'permPlo';\nreturn msg;","outputs":1,"noerr":0,"x":861.4999961853027,"y":2067,"wires":[["450ba867.ec0e78"]]},{"id":"166f3497.b7a59b","type":"function","z":"93aa7839.f801f8","name":"global get permDirt","func":"msg.payload = global.get('permDirt');\nmsg.topic = 'permDirt';\nreturn msg;","outputs":1,"noerr":0,"x":862.4999961853027,"y":2105,"wires":[["450ba867.ec0e78"]]},{"id":"cec88ef2.045ec","type":"function","z":"93aa7839.f801f8","name":"global get setFilt","func":"msg.payload = global.get('setFilt');\nmsg.topic = 'setFilt';\nreturn msg;","outputs":1,"noerr":0,"x":871.4999961853027,"y":1980,"wires":[["450ba867.ec0e78"]]},{"id":"6e7bbd64.164274","type":"function","z":"93aa7839.f801f8","name":"global get timedout_alarm","func":"msg.payload = global.get('timedout_alarm');\nmsg.topic = 'timedout_alarm';\nreturn msg;","outputs":1,"noerr":0,"x":841.9285850524902,"y":2145.28564453125,"wires":[["450ba867.ec0e78"]]},{"id":"f2cabd18.1bb0b","type":"inject","z":"93aa7839.f801f8","name":"ALRM 4","topic":"system_state","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"x":175.49999618530273,"y":238,"wires":[["55f94ecc.29481"]]},{"id":"472e7e69.77c99","type":"function","z":"93aa7839.f801f8","name":"set alarm2 if phase in alarm","func":"if (global.get('phase')===0) {\nglobal.set ('alarm2',1);\nreturn;\n}\nelse return;","outputs":1,"noerr":0,"x":876.4999961853027,"y":328,"wires":[[]]},{"id":"ced340e8.cf2b1","type":"switch","z":"93aa7839.f801f8","name":"set topic test_mode","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"test_mode","vt":"str"}],"checkall":"true","outputs":1,"x":325.57140731811523,"y":1439.4642333984375,"wires":[["a5e1a7ba.007ca8"]]},{"id":"a5e1a7ba.007ca8","type":"change","z":"93aa7839.f801f8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":596.4284629821777,"y":1436.8095703125,"wires":[["15e5cb89.81d384"]]},{"id":"15e5cb89.81d384","type":"function","z":"93aa7839.f801f8","name":"global set test_mode","func":"global.set('test_mode',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":826.9999046325684,"y":1438.892822265625,"wires":[[]]},{"id":"babafd54.6c4a5","type":"switch","z":"93aa7839.f801f8","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":612.595272064209,"y":330.54547119140625,"wires":[["7d83ad30.a0e824"],["62dc131c.d2268c","472e7e69.77c99","f25d8ea6.e4977","ae1e6d4b.4c911","3208e0a3.ea2e5","a624fb84.d0e7e8","5174ca15.b45104","c2bacb08.681fb8","98861f5b.1778b","9722ba4f.a34838"]]},{"id":"7d83ad30.a0e824","type":"trigger","z":"93aa7839.f801f8","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"10","extend":false,"units":"min","reset":"99","name":"","x":711.9999961853027,"y":217,"wires":[["29464510.b7607a"]]},{"id":"29464510.b7607a","type":"function","z":"93aa7839.f801f8","name":"global reset test_mode","func":"global.set('test_mode',0);\nreturn;","outputs":1,"noerr":0,"x":909.4999961853027,"y":212,"wires":[[]]},{"id":"c654baa7.3c0078","type":"function","z":"93aa7839.f801f8","name":"global get setPhi","func":"msg.payload = global.get('setPhi');\nmsg.topic = 'setPhi';\nreturn msg;","outputs":1,"noerr":0,"x":827.4999961853027,"y":2191,"wires":[["450ba867.ec0e78"]]},{"id":"f52cb5a7.779018","type":"function","z":"93aa7839.f801f8","name":"global get setPlo","func":"msg.payload = global.get('setPlo');\nmsg.topic = 'setPlo';\nreturn msg;","outputs":1,"noerr":0,"x":818.4999961853027,"y":2229,"wires":[["450ba867.ec0e78"]]},{"id":"a84e43a.7c27ec","type":"function","z":"93aa7839.f801f8","name":"global get setDirt","func":"msg.payload = global.get('setDirt');\nmsg.topic = 'setDirt';\nreturn msg;","outputs":1,"noerr":0,"x":812.4999961853027,"y":2270,"wires":[["450ba867.ec0e78"]]},{"id":"2b9a1e2.222f7e2","type":"inject","z":"93aa7839.f801f8","name":"","topic":"phase_check","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":303.49999618530273,"y":971,"wires":[["ffed9394.663e4"]]},{"id":"8730d4e8.145868","type":"inject","z":"93aa7839.f801f8","name":"","topic":"phase_check","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":294.30952072143555,"y":1018.380859375,"wires":[["ffed9394.663e4"]]},{"id":"b5193da9.a5bc7","type":"switch","z":"93aa7839.f801f8","name":"set topic phase_check","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"phase_check","vt":"str"}],"checkall":"true","outputs":1,"x":377.51166915893555,"y":1149.261962890625,"wires":[["ffed9394.663e4"]]},{"id":"ffed9394.663e4","type":"change","z":"93aa7839.f801f8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":610.3928184509277,"y":1146.2501220703125,"wires":[["a502ad54.8f424"]]},{"id":"a502ad54.8f424","type":"function","z":"93aa7839.f801f8","name":"global set phase_check","func":"global.set('phase_check',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":832.2264366149902,"y":1146.6663818359375,"wires":[[]]},{"id":"5174ca15.b45104","type":"change","z":"93aa7839.f801f8","name":"reset on 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":661.4999961853027,"y":157,"wires":[["7d83ad30.a0e824"]]},{"id":"163674e3.b9352b","type":"function","z":"93aa7839.f801f8","name":"global set system_state","func":"if (global.get('test_mode')===1) {global.set('system_state', 'TEST MODE');}\nif (global.get('demo_mode')===1) {global.set('system_state', 'DEMO MODE');}\nmsg.payload = global.get('system_state');\nmsg.topic = 'system_state';\nreturn msg;","outputs":1,"noerr":0,"x":572.4999961853027,"y":587,"wires":[["12a8a788.32e9c8"]]},{"id":"ba848dad.9241","type":"function","z":"93aa7839.f801f8","name":"global get test or  demo mode","func":"if (global.get ('test_mode') ===1 || \nglobal.get ('demo_mode')===1) {\nmsg.payload = 1;\nreturn msg;\n} else\nmsg.payload = 0;\nreturn msg;\n","outputs":1,"noerr":0,"x":507.49999618530273,"y":438,"wires":[["babafd54.6c4a5"]]},{"id":"3238cadf.138376","type":"switch","z":"93aa7839.f801f8","name":"set topic demo_mode","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"demo_mode","vt":"str"}],"checkall":"true","outputs":1,"x":386.833309173584,"y":1471.0001002550125,"wires":[["dbed6ed5.44181"]]},{"id":"dbed6ed5.44181","type":"change","z":"93aa7839.f801f8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":596.3570213317871,"y":1477.3453369140625,"wires":[["f2790a76.424688"]]},{"id":"f2790a76.424688","type":"function","z":"93aa7839.f801f8","name":"global set demo_mode","func":"global.set('demo_mode',msg.payload);\nreturn;","outputs":1,"noerr":0,"x":826.9284324645996,"y":1474.4285888671875,"wires":[[]]},{"id":"425613e5.272a0c","type":"function","z":"93aa7839.f801f8","name":"global get demo_mode","func":"msg.payload = global.get('demo_mode');\nmsg.topic = 'demo_mode';\nreturn msg;","outputs":1,"noerr":0,"x":567.4999961853027,"y":548,"wires":[["12a8a788.32e9c8"]]},{"id":"e53f30ca.caad1","type":"link out","z":"93aa7839.f801f8","name":"","links":["dded9c72.4fc9b"],"x":228.99999618530273,"y":692,"wires":[]},{"id":"dded9c72.4fc9b","type":"link in","z":"93aa7839.f801f8","name":"","links":["e53f30ca.caad1"],"x":464.99999618530273,"y":1867,"wires":[["75efdff9.7ff87","3e3e8c02.3de4b4","c2c3149f.857b38","5a21b678.4c17f8","5c54a76c.7a5ff8","eb59edf8.3b2b9","a84e43a.7c27ec","f52cb5a7.779018","c654baa7.3c0078","6e7bbd64.164274","166f3497.b7a59b","ce1d97a2.731c98","e6db9bde.b94d08","cec88ef2.045ec","84f4df36.d5b99","e07ec55.14d7538","fe093aa2.2c79f8","b41ff276.a485d","6df7236d.c7d08c"]]},{"id":"e07ec55.14d7538","type":"function","z":"93aa7839.f801f8","name":"global get Phicount","func":"msg.payload = global.get('Phicount');\nmsg.topic = 'Phicount';\nreturn msg;","outputs":1,"noerr":0,"x":810.4999961853027,"y":2310,"wires":[["450ba867.ec0e78"]]},{"id":"fe093aa2.2c79f8","type":"function","z":"93aa7839.f801f8","name":"global get Plocount","func":"msg.payload = global.get('Plocount');\nmsg.topic = 'Plocount';\nreturn msg;","outputs":1,"noerr":0,"x":813.4999961853027,"y":2353,"wires":[["450ba867.ec0e78"]]},{"id":"b41ff276.a485d","type":"function","z":"93aa7839.f801f8","name":"global get Dirtcount","func":"msg.payload = global.get('Dirtcount');\nmsg.topic = 'Dirtcount';\nreturn msg;","outputs":1,"noerr":0,"x":812.4999961853027,"y":2400,"wires":[["450ba867.ec0e78"]]},{"id":"6df7236d.c7d08c","type":"function","z":"93aa7839.f801f8","name":"global get Timedoutcount","func":"msg.payload = global.get('Timedoutcount');\nmsg.topic = 'Timedoutcount';\nreturn msg;","outputs":1,"noerr":0,"x":836.4999961853027,"y":2440,"wires":[["450ba867.ec0e78"]]},{"id":"12a8a788.32e9c8","type":"vis in","z":"93aa7839.f801f8","language":"en","x":1191,"y":642,"wires":[[]]},{"id":"afe1841a.5d7658","type":"vis in","z":"93aa7839.f801f8","language":"en","x":55,"y":1220,"wires":[["b5193da9.a5bc7","eb09e551.6e90c8","44919db.5cb0f64","14bafeb2.2d16c1","6b83c76d.fa3a78","ced340e8.cf2b1","3238cadf.138376","aea74fce.f98"]]},{"id":"450ba867.ec0e78","type":"vis in","z":"93aa7839.f801f8","language":"en","x":1384,"y":2047,"wires":[[]]},{"id":"9e531e30.0c308","type":"exec","z":"c6ef104b.8308b","command":"sudo reboot #","addpay":false,"append":"","useSpawn":"","name":"System Reboot","x":827,"y":361,"wires":[[],[],[]]},{"id":"1e7678dd.b1e7a7","type":"switch","z":"c6ef104b.8308b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"reboot","vt":"str"}],"checkall":"true","outputs":1,"x":629,"y":351.5,"wires":[["9e531e30.0c308"]]},{"id":"cf888a5f.edda98","type":"exec","z":"c6ef104b.8308b","command":"ifconfig","append":"","useSpawn":false,"name":"ifconfig","x":610,"y":132.5,"wires":[["a7866812.c06498"],[],[]]},{"id":"7c7da624.939328","type":"inject","z":"c6ef104b.8308b","name":"get ip - eth0","topic":"ip","payload":"eth0","payloadType":"str","repeat":"3","crontab":"","once":true,"x":402,"y":99,"wires":[["cf888a5f.edda98"]]},{"id":"a7866812.c06498","type":"function","z":"c6ef104b.8308b","name":"Extract network config","func":"// Initialize variables\nvar input, tokens, inet, bcast, mask;\nvar outString = \"CASI \\n\";\n\n// Parse the entire string by spaces, and put each item into an array called tokens\n\ninput = msg.payload;\ntokens = input.split(\":\", 10);\n\n// Get the 7th token (example: \"addr:192.168.0.120\")\n// and get the substring from character 6 to the end\ninet = tokens[7].split(\" \", 1);\noutString += \"\\n\" + \"IP Address: \" + inet[0];\n\n// Get the 8th token (example: \"Bcast:192.168.0.255\")\n// and get the substring from character 7 to the end\nbcast = tokens[8].split(\" \", 1);\noutString += \"\\n\" + \"Bcast: \" + bcast[0];\n\n// Get the 9th token (example: \"Mask:255.255.255.0\")\n// and get the substring from character 6 to the end\nmask = tokens[9].split(\" \", 1);\noutString += \"\\n\" + \"Mask: \" + mask[0];\n\n// Don't send a message if the IF is the known default. Change to default ip.\nif (inet==\"192.168.0.120\") { \n//outString = \"\"; // set output to null if ip is the same so no message is sent\nreturn null;\n}else{\n// return the final output\nreturn {payload: outString};\n}\n","outputs":1,"noerr":0,"x":887.2500076293945,"y":154.75000095367432,"wires":[["fb211b57.e60938"]]},{"id":"fb211b57.e60938","type":"delay","z":"c6ef104b.8308b","name":"Delay","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":493,"y":271.5,"wires":[["cfd516fb.c569f8"]]},{"id":"cfd516fb.c569f8","type":"change","z":"c6ef104b.8308b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"network","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":667,"y":271.5,"wires":[["3a2be00c.1f20e"]]},{"id":"d1374a4c.2e33d8","type":"switch","z":"c6ef104b.8308b","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ip","vt":"str"}],"checkall":"true","outputs":1,"x":436,"y":174.5,"wires":[["cf888a5f.edda98"]]},{"id":"50b3da9a.efb7a4","type":"inject","z":"c6ef104b.8308b","name":"","topic":"vis.control.data","payload":"{\"val\": \"main/a_home\", \"ack\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":274.66667556762695,"y":439.49999618530273,"wires":[["3a2be00c.1f20e"]]},{"id":"fdb5cd03.438b7","type":"debug","z":"c6ef104b.8308b","name":"","active":true,"console":"false","complete":"false","x":708.5,"y":509.75,"wires":[]},{"id":"b949e820.aa0358","type":"switch","z":"c6ef104b.8308b","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"nav","vt":"str"}],"checkall":"true","outputs":1,"x":519,"y":487.5,"wires":[["fdb5cd03.438b7"]]},{"id":"5be111da.a995d","type":"inject","z":"c6ef104b.8308b","name":"reboot!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":457.6666564941406,"y":613.5,"wires":[["be18103a.47b1a"]]},{"id":"be18103a.47b1a","type":"exec","z":"c6ef104b.8308b","command":"reboot #","addpay":false,"append":"","useSpawn":"","name":"reboot Pi","x":693.4523811340332,"y":702.8988380432129,"wires":[[],[],[]]},{"id":"90278e64.6283b","type":"switch","z":"c6ef104b.8308b","name":"reboot","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"reboot","vt":"str"}],"checkall":"true","outputs":1,"x":606.714298248291,"y":559.9286060333252,"wires":[["be18103a.47b1a"]]},{"id":"3a2be00c.1f20e","type":"vis in","z":"c6ef104b.8308b","language":"en","x":460.8333536783854,"y":367,"wires":[["d1374a4c.2e33d8","1e7678dd.b1e7a7","b949e820.aa0358","90278e64.6283b"]]},{"id":"fb92fcea.22ef9","type":"function","z":"1c44d784.6e95d8","name":"Input 2: X2","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":458.73325892857144,"y":271.79687537465776,"wires":[["7498aa96.0b59a4"]]},{"id":"f46b2eb3.8b835","type":"function","z":"1c44d784.6e95d8","name":"Input 1: X1","func":"msg.payload = msg.payload[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":410.1261651175363,"y":188.7254477909633,"wires":[["e01bebc4.b1e7a8"]]},{"id":"3c29a18d.fb175e","type":"function","z":"1c44d784.6e95d8","name":"Array","func":"\n\nvar newMsgPS1 = { payload: msg.payload [0] };\nvar newMsgPS2 = { payload: msg.payload [1] };\nreturn [newMsgPS1, newMsgPS2];\n","outputs":"2","noerr":0,"x":317.5904214041574,"y":410.0825835636684,"wires":[["fa806af4.18d888"],["f11c55b0.d32ff8"]]},{"id":"842f3680.9f2488","type":"comment","z":"1c44d784.6e95d8","name":"*** Read Modbus Settings ","info":"Global Network Settings\nIP: 169.254.119.60\nMask: 255.255.255.0\nGlobal IP: 169.254.255.255\n\nControl Network Settings\nIP: 169.254.119.10\nMask: 255.255.255.0\nGlobal IP: 169.254.119.1\n\nNode Red Modbus TCP Settings\nIP: 169.254.119.10\nPort: 502\nUnit: 1\n\n\n**Make sure Control Network Settings IP and Node Red Modbus IP address match***\n**Must have Static IP address for Modbus TCP/IP to work properly***\n\n\n\n","x":501.5904290335519,"y":91.08258547101701,"wires":[]},{"id":"ab190f16.1a2aa","type":"comment","z":"1c44d784.6e95d8","name":"Inputs Read Only","info":"","x":124.59042140415738,"y":134.08258356366838,"wires":[]},{"id":"1f3e69d1.b4ed06","type":"comment","z":"1c44d784.6e95d8","name":"Output Read/Write ","info":"","x":1090.5904214041575,"y":466.08259310041154,"wires":[]},{"id":"fa806af4.18d888","type":"range","z":"1c44d784.6e95d8","minin":"0","maxin":"100","minout":"0","maxout":"15.00","action":"scale","round":false,"name":"IMPINGER PRESS","x":446.76902553013394,"y":341.68972982679094,"wires":[["c45a0663.7c3da8"]]},{"id":"f11c55b0.d32ff8","type":"range","z":"1c44d784.6e95d8","minin":"0","maxin":"100","minout":"0.00","maxout":"15.00","action":"scale","round":false,"name":"FAN PRESS","x":466.3047310965402,"y":478.046847479684,"wires":[["1dc03065.2ec01"]]},{"id":"c45a0663.7c3da8","type":"function","z":"1c44d784.6e95d8","name":"custom function","func":"// declare place holder variables\nvar originalval1 = msg.payload;\nvar varps1 = \"\";\n\n\n// convert string of originalval to float with 1 decimal place\n// run originalval thru a simple minus operation to form the 'temp' number\nvarps1 = parseFloat(originalval1).toFixed(1);\n\n// output the originalval after deduction \nmsg.payload = varps1;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":621.8761651175363,"y":388.93971933637346,"wires":[["f24b7304.3262a"]]},{"id":"1dc03065.2ec01","type":"function","z":"1c44d784.6e95d8","name":"custom function","func":"// declare place holder variables\nvar originalval2 = msg.payload;\nvar varps2 = \"\";\n\n\n// convert string of originalval to float with 1 decimal place\n// run originalval thru a simple minus operation to form the 'temp' number\nvarps2 = parseFloat(originalval2).toFixed(1);\n\n// output the originalval after deduction \nmsg.payload = varps2;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":685.5904214041574,"y":445.0825835636684,"wires":[["20f042de.27a40e"]]},{"id":"8da79f58.55782","type":"comment","z":"1c44d784.6e95d8","name":"Analog Read Only","info":"","x":126.73328181675504,"y":383.2254601887294,"wires":[]},{"id":"f24b7304.3262a","type":"function","z":"1c44d784.6e95d8","name":"actFilt","func":"global.set ('actFilt', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":797.145993913923,"y":301.3524295261928,"wires":[[]]},{"id":"20f042de.27a40e","type":"function","z":"1c44d784.6e95d8","name":"actPres","func":"global.set ('actPres', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":848.9079491751535,"y":350.8286849430629,"wires":[["eb4d33bf.de8f7"]]},{"id":"25c46021.d0bdc","type":"function","z":"1c44d784.6e95d8","name":"float","func":"global.set ('flt', msg.payload);\n//if (global.get ('step2')===1) {global.set('flt', 0);}\nreturn msg;","outputs":1,"noerr":0,"x":856.824533190046,"y":108.35243810926164,"wires":[[]]},{"id":"1da2dc44.62a574","type":"function","z":"1c44d784.6e95d8","name":"phase","func":"if (global.get ('phase_check')===0) {global.set('phase', 1);}\nelse global.set ('phase', msg.payload); \nreturn msg;","outputs":1,"noerr":0,"x":843.6697671072824,"y":203.49525083814348,"wires":[[]]},{"id":"e01bebc4.b1e7a8","type":"change","z":"1c44d784.6e95d8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":617.8602654593332,"y":135.92387117658342,"wires":[["25c46021.d0bdc"]]},{"id":"7498aa96.0b59a4","type":"change","z":"1c44d784.6e95d8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":652.0030800955636,"y":234.06673158918107,"wires":[["1da2dc44.62a574"]]},{"id":"cef95764.cffa18","type":"function","z":"1c44d784.6e95d8","name":"global get blwr","func":"if (global.get ('blwr') <= 2 && \nglobal.get ('blwr') >0) {\nmsg.payload = 1;\nreturn msg;\n} else\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":459.5745827811105,"y":880.7810183933802,"wires":[["b78f1b57.b8b018"]]},{"id":"cd78e4cf.152a88","type":"inject","z":"1c44d784.6e95d8","name":"Inject once at start","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":true,"x":144.37212916782926,"y":621.3762332371302,"wires":[["a894d917.aac118"]]},{"id":"b78f1b57.b8b018","type":"switch","z":"1c44d784.6e95d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":646.336423601423,"y":881.3047610691615,"wires":[["37045e22.4bfaa2"],["37045e22.4bfaa2","f3f3f2a0.ed7ab"]]},{"id":"37045e22.4bfaa2","type":"rbe","z":"1c44d784.6e95d8","name":"","func":"rbe","gap":"","start":"","inout":"out","x":935.1458718436105,"y":989.2095462254115,"wires":[["f3f3f2a0.ed7ab"]]},{"id":"de95ae36.0db35","type":"function","z":"1c44d784.6e95d8","name":"global get blwr","func":"if (global.get ('blwr') === 2 ) {\nmsg.payload = 1;\nreturn msg;\n} else\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":644.145993913923,"y":741.780957358224,"wires":[["a21e4c05.e49c3"]]},{"id":"a21e4c05.e49c3","type":"switch","z":"1c44d784.6e95d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":838.7174050467355,"y":767.6383181980677,"wires":[["ea032026.9edff"],["ea032026.9edff","384706a0.75966a"]]},{"id":"ea032026.9edff","type":"rbe","z":"1c44d784.6e95d8","name":"","func":"rbe","gap":"","start":"","inout":"out","x":913.4317605154855,"y":836.209668295724,"wires":[["384706a0.75966a"]]},{"id":"8bb78081.aa26","type":"function","z":"1c44d784.6e95d8","name":"global get ballvalve3","func":"if (global.get ('ballvalve3') == 1 ) {\nmsg.payload = 1;\nreturn msg;\n} else\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":661.5745827811105,"y":691.7810183933802,"wires":[["90f6e02d.8deaa"]]},{"id":"90f6e02d.8deaa","type":"switch","z":"1c44d784.6e95d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":853.8602273123605,"y":665.3525515965052,"wires":[["9ea15702.e10718"],["574d761b.a9ba78"]]},{"id":"c2a9475a.c72338","type":"trigger","z":"1c44d784.6e95d8","op1":"","op2":"ddd","op1type":"nul","op2type":"str","duration":"1","extend":false,"units":"s","reset":"99","name":"","x":239.5745827811105,"y":803.1024295261927,"wires":[["c1680fc3.903dc","cef95764.cffa18","d9cb6463.dd96d8"]]},{"id":"a894d917.aac118","type":"delay","z":"1c44d784.6e95d8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":222.395993913923,"y":743.888135092599,"wires":[["c2a9475a.c72338"]]},{"id":"c1680fc3.903dc","type":"delay","z":"1c44d784.6e95d8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":225.645993913923,"y":901.3881961277552,"wires":[["c2a9475a.c72338"]]},{"id":"9ea15702.e10718","type":"trigger","z":"1c44d784.6e95d8","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"3","extend":true,"units":"s","reset":"99","name":"valve off delay","x":840.1459328787668,"y":587.0665408543177,"wires":[["574d761b.a9ba78"]]},{"id":"69efbb61.5b0064","type":"change","z":"1c44d784.6e95d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"filter_pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240.8602273123606,"y":201.61408724103654,"wires":[["15f77a72.292c46"]]},{"id":"eb4d33bf.de8f7","type":"change","z":"1c44d784.6e95d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"scrub_pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1256.8841530936106,"y":309.06672395978654,"wires":[["15f77a72.292c46"]]},{"id":"574d761b.a9ba78","type":"modbus-write","z":"1c44d784.6e95d8","name":"Water Valve: Y3","showStatusActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"2","quantity":"1","server":"a9e7a18e.6596b","x":1116.5904519217356,"y":573.3682986668177,"wires":[[],[]]},{"id":"384706a0.75966a","type":"modbus-write","z":"1c44d784.6e95d8","name":"Aux Relay: Y2","showStatusActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"a9e7a18e.6596b","x":1128.8760964529856,"y":741.7968875340052,"wires":[[],[]]},{"id":"f3f3f2a0.ed7ab","type":"modbus-write","z":"1c44d784.6e95d8","name":"Motor  Y1 3","showStatusActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"3","quantity":"1","server":"a9e7a18e.6596b","x":1116.0665261404856,"y":881.8444949558802,"wires":[[],[]]},{"id":"8b2d528e.e2751","type":"comment","z":"1c44d784.6e95d8","name":"demo mode modification","info":"comment out line 2 for normal operation","x":926.2332741873605,"y":149.1182986668178,"wires":[]},{"id":"34ff14be.4395ec","type":"function","z":"1c44d784.6e95d8","name":"global set filter_pressure","func":"var filter_pressure = global.get ('filter_pressure') || 0;\nvar newval4 = Math.abs(global.get('actFilt') - global.get ('actPres'));\nglobal.set('filter_pressure', newval4);\nmsg.topic = 'filter_pressure';\nmsg.payload = global.get('filter_pressure');\nreturn msg;","outputs":1,"noerr":0,"x":1098.7332741873606,"y":263.3682986668178,"wires":[["69efbb61.5b0064"]]},{"id":"b83f5322.d08b2","type":"inject","z":"1c44d784.6e95d8","name":"One Sec PULSE","topic":"","payload":"0","payloadType":"num","repeat":"1","crontab":"","once":true,"x":867.2332741873605,"y":257.3682986668178,"wires":[["34ff14be.4395ec"]]},{"id":"d9cb6463.dd96d8","type":"function","z":"1c44d784.6e95d8","name":"global get test or  demo mode","func":"if (global.get ('test_mode') ===1) { \nmsg.payload = 1;\nreturn msg;} \nelse\nif (global.get ('demo_mode')===1) {\nmsg.payload = 1;\nreturn msg;}\nelse\nmsg.payload = 0;\nreturn msg;\n","outputs":1,"noerr":0,"x":465.7332741873605,"y":781.3682986668177,"wires":[["3ffcb301.7b673c"]]},{"id":"3ffcb301.7b673c","type":"switch","z":"1c44d784.6e95d8","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":383.82855006626676,"y":702.913769858224,"wires":[[],["8bb78081.aa26","de95ae36.0db35"]]},{"id":"a6882066.244eb","type":"inject","z":"1c44d784.6e95d8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":866.5904214041574,"y":535.0825931004115,"wires":[["574d761b.a9ba78"]]},{"id":"505d65d2.22cf1c","type":"inject","z":"1c44d784.6e95d8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":1049.5904519217356,"y":646.0825931004115,"wires":[["384706a0.75966a"]]},{"id":"9afd495d.05ef88","type":"inject","z":"1c44d784.6e95d8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":1016.5904519217355,"y":688.0825931004115,"wires":[["384706a0.75966a"]]},{"id":"7b4c1fe6.b9918","type":"inject","z":"1c44d784.6e95d8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":872.5904214041574,"y":477.08259310041154,"wires":[["574d761b.a9ba78"]]},{"id":"15f77a72.292c46","type":"vis in","z":"1c44d784.6e95d8","language":"en","x":1492.2332589285716,"y":237.08258928571428,"wires":[[]]},{"id":"c00663ba.69ac4","type":"modbus-read","z":"1c44d784.6e95d8","name":"Float Switch INPUT 1","showStatusActivities":false,"unitid":"","dataType":"Input","adr":"1","quantity":"1","rate":"3","rateUnit":"s","server":"a9e7a18e.6596b","x":122.13169642857144,"y":81,"wires":[["f46b2eb3.8b835"],[]]},{"id":"e2f6f796.1caa38","type":"modbus-read","z":"1c44d784.6e95d8","name":"PHASE RELAY INPUT 2","showStatusActivities":false,"unitid":"","dataType":"Input","adr":"0","quantity":"1","rate":"3","rateUnit":"s","server":"a9e7a18e.6596b","x":115,"y":188.1428571428571,"wires":[["fb92fcea.22ef9"],[]]},{"id":"d1611d1f.34cd","type":"modbus-read","z":"1c44d784.6e95d8","name":"Array PS1& PS2","showStatusActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"29","quantity":"2","rate":"3","rateUnit":"s","server":"a9e7a18e.6596b","x":109.28571101597379,"y":428.1596003941127,"wires":[["3c29a18d.fb175e"],[]]},{"id":"5d181396.a4e7cc","type":"function","z":"f5140c51.becec","name":"counter","func":"msg.payload = parseInt(msg.payload) + 1;\nreturn msg;","outputs":"1","noerr":0,"x":879,"y":101,"wires":[[]]},{"id":"c34189c2.faa168","type":"debug","z":"f5140c51.becec","name":"","active":false,"console":false,"complete":"payload","x":1285,"y":219,"wires":[]},{"id":"4dff9051.29b4f","type":"function","z":"f5140c51.becec","name":"global get blwr","func":"if (global.get ('blwr') <= 3 && \nglobal.get ('blwr') >0) {\nmsg.payload = 1;\nreturn msg;\n} else\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":342,"y":245,"wires":[["cdc08300.e9ccf"]]},{"id":"b946d2e6.e265c","type":"function","z":"f5140c51.becec","name":"global get ballvalve3","func":"if (global.get ('ballvalve3') == 1 ) {\nmsg.payload = 1;\nreturn msg;\n} else\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":353,"y":651,"wires":[["5652bd84.f75b84"]]},{"id":"6de80019.5a806","type":"inject","z":"f5140c51.becec","name":"Auto Tune PULSE","topic":"","payload":"ddd","payloadType":"str","repeat":"1","crontab":"","once":true,"x":143,"y":365,"wires":[["b946d2e6.e265c","f9c2281e.2bfe78","405d487b.1242e8","ed319c42.e60f6","2baa3512.20b07a","4dff9051.29b4f"]]},{"id":"fce6ff78.df7b2","type":"function","z":"f5140c51.becec","name":"counter","func":"msg.payload = parseInt(msg.payload) + 1;\nreturn msg;","outputs":"1","x":797,"y":664,"wires":[["4ca1748a.c70ddc","a62e3eb2.c72cd"]]},{"id":"4ca1748a.c70ddc","type":"delay","z":"f5140c51.becec","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":783,"y":607,"wires":[["fce6ff78.df7b2"]]},{"id":"cdc08300.e9ccf","type":"switch","z":"f5140c51.becec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":501,"y":244,"wires":[["9f045585.779dc8","ef1e97d.4dac068","4e466ac8.1cfbc4"],["4e466ac8.1cfbc4"]]},{"id":"5652bd84.f75b84","type":"switch","z":"f5140c51.becec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":525,"y":693,"wires":[["fce6ff78.df7b2","27b0845c.89fc9c"],["fe6350fd.fba2d"]]},{"id":"b4c1dc63.0c1d8","type":"change","z":"f5140c51.becec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1283,"y":264,"wires":[[]]},{"id":"9bd01882.032cf8","type":"change","z":"f5140c51.becec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BVperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":852.14306640625,"y":846.3810424804688,"wires":[[]]},{"id":"dd325e0e.b81eb","type":"function","z":"f5140c51.becec","name":"global set brtemp","func":"global.set('brtemp',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1081,"y":198,"wires":[["88af103f.65ed1"]]},{"id":"a62e3eb2.c72cd","type":"function","z":"f5140c51.becec","name":"global set bvtemp","func":"global.set('bvtemp',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":988,"y":664,"wires":[[]]},{"id":"235c86bb.24186a","type":"function","z":"f5140c51.becec","name":"Reset runtime variables","func":"var brtemp = global.set ('brtemp', 0);\nvar brperm = global.set ('brperm', 0);\nvar blwrcount = global.set ('blwrcount', 0);\nvar bvtemp = global.set ('bvtemp', 0);\nvar bvperm = global.set ('bvperm', 0);\nvar bvcount = global.set ('bvcount', 0);\nreturn msg; \n","outputs":"1","noerr":0,"x":1333.0357666015625,"y":447.42840576171875,"wires":[["19804e10.cb7cf2","898fb1c.818805","74e66d16.5dae64","cdc88746.c4ec78"]]},{"id":"5a6645b7.21feec","type":"switch","z":"f5140c51.becec","name":"reset runtimes on factreset","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"factreseet","vt":"str"}],"checkall":"true","outputs":1,"x":1140,"y":527,"wires":[["235c86bb.24186a"]]},{"id":"c24fd4d6.d06128","type":"function","z":"f5140c51.becec","name":"global set blwrcount","func":"msg.payload = global.set('blwrcount');\nreturn msg;","outputs":1,"noerr":0,"x":1002,"y":248,"wires":[["b4c1dc63.0c1d8","c34189c2.faa168"]]},{"id":"18f05d64.304093","type":"function","z":"f5140c51.becec","name":"global set brtemp","func":"global.set('brtemp',0);\nreturn msg;","outputs":1,"noerr":0,"x":1036,"y":297,"wires":[[]]},{"id":"f9c2281e.2bfe78","type":"change","z":"f5140c51.becec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BRperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":392,"y":423,"wires":[[]]},{"id":"8fca90ab.7a9d2","type":"change","z":"f5140c51.becec","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"brperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":756,"y":427,"wires":[["35e5fa6c.6badb6"]]},{"id":"405d487b.1242e8","type":"change","z":"f5140c51.becec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BVperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":384,"y":468,"wires":[[]]},{"id":"bd69e7e3.10a918","type":"change","z":"f5140c51.becec","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"bvperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":755,"y":468,"wires":[["35e5fa6c.6badb6"]]},{"id":"fe6350fd.fba2d","type":"function","z":"f5140c51.becec","name":"global set bvperm","func":"var bvperm = global.get('bvperm') + global.get('bvtemp'); \nreturn msg;","outputs":1,"noerr":0,"x":648,"y":809,"wires":[["7325899b.54f4b8","9bd01882.032cf8"]]},{"id":"7325899b.54f4b8","type":"function","z":"f5140c51.becec","name":"global set bvtemp","func":"global.set('bvtemp',0);\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":783,"wires":[[]]},{"id":"f1c4dcff.f983d","type":"function","z":"f5140c51.becec","name":"global set brperm","func":"var temp = global.get('brperm') -( -global.get('brtemp')); \nvar brperm = global.set('brperm',temp);\nmsg.payload = global.get('brperm')\nreturn msg;","outputs":1,"noerr":0,"x":796,"y":327,"wires":[["f8096510.e15a28","18f05d64.304093","228cb0e4.7dfd1"]]},{"id":"f8096510.e15a28","type":"change","z":"f5140c51.becec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BRperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1133,"y":338,"wires":[[]]},{"id":"ed319c42.e60f6","type":"change","z":"f5140c51.becec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":386,"y":502,"wires":[[]]},{"id":"9c275569.a762a8","type":"change","z":"f5140c51.becec","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"blwrcount","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757,"y":504,"wires":[["35e5fa6c.6badb6"]]},{"id":"2baa3512.20b07a","type":"change","z":"f5140c51.becec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BVC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":386,"y":539,"wires":[[]]},{"id":"8357816a.4ab3","type":"change","z":"f5140c51.becec","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"bvcount","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757,"y":541,"wires":[["35e5fa6c.6badb6"]]},{"id":"27b0845c.89fc9c","type":"function","z":"f5140c51.becec","name":"global set bvcount","func":"var bvcount = global.get('bvcount') + 1; \nreturn msg;","outputs":1,"noerr":0,"x":725,"y":739,"wires":[["93528019.14e07"]]},{"id":"93528019.14e07","type":"change","z":"f5140c51.becec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BVC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":928,"y":737,"wires":[[]]},{"id":"e87c9f0a.bd35b","type":"inject","z":"f5140c51.becec","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":134,"y":478,"wires":[["f9c2281e.2bfe78"]]},{"id":"3631724a.5a01fe","type":"inject","z":"f5140c51.becec","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":135,"y":519,"wires":[["405d487b.1242e8"]]},{"id":"e878a0b3.e5a31","type":"inject","z":"f5140c51.becec","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":134,"y":559,"wires":[["ed319c42.e60f6"]]},{"id":"1a27f8c9.c73ce7","type":"inject","z":"f5140c51.becec","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":134,"y":599,"wires":[["2baa3512.20b07a"]]},{"id":"53211433.e0ad7c","type":"inject","z":"f5140c51.becec","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":505,"y":334,"wires":[[]]},{"id":"3abf1bf9.5d6ab4","type":"inject","z":"f5140c51.becec","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":431,"y":852,"wires":[["fe6350fd.fba2d"]]},{"id":"9f8e0b6c.ece948","type":"inject","z":"f5140c51.becec","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":1138,"y":412,"wires":[["235c86bb.24186a"]]},{"id":"88af103f.65ed1","type":"debug","z":"f5140c51.becec","name":"","active":true,"console":"false","complete":"false","x":1261.5,"y":148,"wires":[]},{"id":"cb52d43f.59a3f8","type":"debug","z":"f5140c51.becec","name":"","active":false,"console":"false","complete":"payload","x":1217.5,"y":646,"wires":[]},{"id":"19804e10.cb7cf2","type":"function","z":"f5140c51.becec","name":"global get blwrcount","func":"msg.payload = global.get('blwrcount');\nmsg.topic = 'blwrcount';\nreturn msg;","outputs":1,"noerr":0,"x":1628,"y":407,"wires":[["42181fef.60d35"]]},{"id":"898fb1c.818805","type":"function","z":"f5140c51.becec","name":"global get brperm","func":"msg.payload = global.get('brperm');\nmsg.topic = 'brperm';\nreturn msg;","outputs":1,"noerr":0,"x":1616,"y":453,"wires":[["bfd43859.02ab18"]]},{"id":"74e66d16.5dae64","type":"function","z":"f5140c51.becec","name":"global get bvcount","func":"msg.payload = global.get('bvcount');\nmsg.topic = 'bvcount';\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":500,"wires":[["e1380738.945278"]]},{"id":"cdc88746.c4ec78","type":"function","z":"f5140c51.becec","name":"global get bvperm","func":"msg.payload = global.get('bvperm');\nmsg.topic = 'bvperm';\nreturn msg;","outputs":1,"noerr":0,"x":1613,"y":552,"wires":[["95f63f25.3491d"]]},{"id":"42181fef.60d35","type":"change","z":"f5140c51.becec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1859,"y":401,"wires":[[]]},{"id":"bfd43859.02ab18","type":"change","z":"f5140c51.becec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BRperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1842,"y":447,"wires":[[]]},{"id":"e1380738.945278","type":"change","z":"f5140c51.becec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BVC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1828,"y":503,"wires":[[]]},{"id":"95f63f25.3491d","type":"change","z":"f5140c51.becec","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/BVperm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1833.14306640625,"y":552.3810424804688,"wires":[[]]},{"id":"228cb0e4.7dfd1","type":"debug","z":"f5140c51.becec","name":"","active":true,"console":"false","complete":"false","x":1012.5,"y":372,"wires":[]},{"id":"18174967.f4ffb7","type":"debug","z":"f5140c51.becec","name":"","active":true,"console":"false","complete":"false","x":1419.5,"y":623,"wires":[]},{"id":"591dd8b5.c26ae8","type":"inject","z":"f5140c51.becec","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":503.5,"y":162,"wires":[[]]},{"id":"ebc4680e.01f668","type":"function","z":"f5140c51.becec","name":"global set brperm","func":"var brperm = global.set ('brperm', msg.payload);\nreturn;","outputs":1,"noerr":0,"x":738,"y":387,"wires":[[]]},{"id":"cf610b7a.97d138","type":"delay","z":"f5140c51.becec","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":882,"y":143,"wires":[[]]},{"id":"9f045585.779dc8","type":"rbe","z":"f5140c51.becec","name":"","func":"rbe","gap":"","start":"","inout":"out","x":675.5,"y":241,"wires":[["39ec301d.7a02a"]]},{"id":"ef1e97d.4dac068","type":"counter","z":"f5140c51.becec","inc":1,"name":"","x":806.5,"y":187,"wires":[["dd325e0e.b81eb"]]},{"id":"4e466ac8.1cfbc4","type":"rbe","z":"f5140c51.becec","name":"","func":"rbe","gap":"","start":"","inout":"out","x":630.5,"y":288,"wires":[["f1c4dcff.f983d"]]},{"id":"39ec301d.7a02a","type":"counter","z":"f5140c51.becec","inc":1,"name":"","x":812.5,"y":248,"wires":[["c24fd4d6.d06128"]]},{"id":"35e5fa6c.6badb6","type":"vis in","z":"f5140c51.becec","language":"en","x":992.5,"y":462,"wires":[["5a6645b7.21feec"]]},{"id":"c3c17687.af0f38","type":"exec","z":"f77f7e66.f1ce","command":"sudo /etc/init.d/picofssd start","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":490,"y":123,"wires":[[],[],[]]},{"id":"a64673aa.6d36b","type":"comment","z":"f77f7e66.f1ce","name":"UPS Auto Start","info":"","x":277,"y":68,"wires":[]},{"id":"39aa19d6.9ed5d6","type":"inject","z":"f77f7e66.f1ce","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":239,"y":128,"wires":[["c3c17687.af0f38"]]},{"id":"c7d2f62f.508bb8","type":"exec","z":"fb6d2760.405c68","command":"sudo i2cget -y 1 0x69 0x16 w","addpay":true,"append":"","useSpawn":"","timer":"","name":"Pressure Point 1","x":129,"y":228.30928802490234,"wires":[["b9c07f7e.6fa2e"],[],[]]},{"id":"9b7e1ced.8fc5d","type":"exec","z":"fb6d2760.405c68","command":"sudo i2cget -y 1 0x69 0x18 w","addpay":false,"append":"","useSpawn":"","timer":"","name":"Pressure Point 2","x":134,"y":300.30928802490234,"wires":[["eba95058.8acbc"],[],[]]},{"id":"14d8d97d.1c3167","type":"inject","z":"fb6d2760.405c68","name":"","topic":"Inject once per Secound","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"x":197.00003051757812,"y":140.80929565429688,"wires":[["c7d2f62f.508bb8","9b7e1ced.8fc5d"]]},{"id":"b9c07f7e.6fa2e","type":"range","z":"fb6d2760.405c68","minin":"0x000","maxin":"0x354","minout":"0","maxout":"15","action":"scale","round":false,"name":"0-15 IWC","x":415,"y":220.30928802490234,"wires":[[]]},{"id":"eba95058.8acbc","type":"range","z":"fb6d2760.405c68","minin":"0x000","maxin":"0x354","minout":"0","maxout":"15","action":"scale","round":false,"name":"0-15 IWC","x":413,"y":294.30928802490234,"wires":[[]]},{"id":"db509853.7fddb8","type":"function","z":"fb6d2760.405c68","name":"Decimal Point 1 Place","func":"// declare place holder variables\nvar originalval1 = msg.payload;\nvar varps1 = \"\";\n\n\n// convert string of originalval to float with 1 decimal place\n// run originalval thru a simple minus operation to form the 'temp' number\nvarps1 = parseFloat(originalval1).toFixed(1);\n\n// output the originalval after deduction \nmsg.payload = varps1;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":648.6666259765625,"y":218.3092803955078,"wires":[["d1cd74f4.00aa38"]]},{"id":"219b151d.1d9eca","type":"function","z":"fb6d2760.405c68","name":"Decimal Point 1 Place","func":"// declare place holder variables\nvar originalval1 = msg.payload;\nvar varps1 = \"\";\n\n\n// convert string of originalval to float with 1 decimal place\n// run originalval thru a simple minus operation to form the 'temp' number\nvarps1 = parseFloat(originalval1).toFixed(1);\n\n// output the originalval after deduction \nmsg.payload = varps1;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":641.6666259765625,"y":298.97594451904297,"wires":[["8959f25a.96f35"]]},{"id":"d1cd74f4.00aa38","type":"function","z":"fb6d2760.405c68","name":"actPres","func":"global.set ('actPres', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":853.6666259765625,"y":212.9759292602539,"wires":[["f5eb4360.2727b"]]},{"id":"8959f25a.96f35","type":"function","z":"fb6d2760.405c68","name":"actFilt","func":"global.set ('actFilt', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":856.9046630859375,"y":293.4996871948242,"wires":[["c562dad.b3eed28"]]},{"id":"c562dad.b3eed28","type":"change","z":"fb6d2760.405c68","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"filter_pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1025.6666259765625,"y":288.97594451904297,"wires":[["5294c4db.ab6f5c"]]},{"id":"f5eb4360.2727b","type":"change","z":"fb6d2760.405c68","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"scrub_pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1025.6905517578125,"y":214.42855072021484,"wires":[["5294c4db.ab6f5c"]]},{"id":"5294c4db.ab6f5c","type":"vis in","z":"fb6d2760.405c68","language":"en","x":1082.8095703125,"y":110,"wires":[[]]},{"id":"f3ac2e6.48fb8d","type":"exec","z":"770e3f24.bddc8","command":"sudo python PiModules/pico_status/pico_status_hv3.0.py","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":329.0000305175781,"y":246.5,"wires":[["6ba9f540.35b97c"],[],[]]},{"id":"55b3c103.89987","type":"vis in","z":"770e3f24.bddc8","language":"en","x":843.1665954589844,"y":226.33331298828125,"wires":[[]]},{"id":"6ba9f540.35b97c","type":"change","z":"770e3f24.bddc8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ups_status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":658,"y":242.66665649414062,"wires":[["55b3c103.89987","bdc38b38.573558"]]},{"id":"1fc79d37.1184a3","type":"exec","z":"7f400e03.20e7a","command":"sudo i2cset -y 1 0x6B 0x10 20","addpay":false,"append":"","useSpawn":"","timer":"","name":"Set Time of Buzzer","x":521,"y":292,"wires":[[],[],[]]},{"id":"e3d7f07e.97caf","type":"inject","z":"7f400e03.20e7a","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":299,"y":289.5,"wires":[["1fc79d37.1184a3"]]},{"id":"c10e2f5.dfc7fd","type":"exec","z":"7f400e03.20e7a","command":"sudo i2cset -y 1 0x6B 0x0e 1047 w","addpay":true,"append":"","useSpawn":"","timer":"","name":"Set Frequency of Buzzer","x":545,"y":183,"wires":[[],[],[]]},{"id":"aa796afd.9c45c8","type":"comment","z":"7f400e03.20e7a","name":"Alarm / Buzzer Control","info":"","x":346,"y":141.5,"wires":[]},{"id":"e786bf13.7169d","type":"inject","z":"7f400e03.20e7a","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":289,"y":185.5,"wires":[["c10e2f5.dfc7fd"]]},{"id":"9d5b61ad.9a117","type":"vis in","z":"770e3f24.bddc8","language":"en","x":147,"y":70,"wires":[["59e88d4.1bafd74"]]},{"id":"59e88d4.1bafd74","type":"switch","z":"770e3f24.bddc8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ups_status_reboot","vt":"str"}],"checkall":"true","outputs":1,"x":182,"y":154,"wires":[["f3ac2e6.48fb8d"]]},{"id":"bdc38b38.573558","type":"debug","z":"770e3f24.bddc8","name":"","active":true,"console":"false","complete":"false","x":863,"y":294,"wires":[]}]
